.wdp-actionbar {
    @include user-select(none);
    @include position(fixed, 0px 0px 0 $global-left-offset);
    padding: 10px 10px;
    background: rgba(#fff, 0.9);
    .btn {
        font-size: 12px;
        min-width: 80px;
    }
    > .btn {
        margin-right: 5px;
    }
    .album-settings {
        min-width: 30px;
        padding: 4px;
        @include position(fixed, 10px 15px 0 0);
    }
}
