.wdj-photos {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;

    .wdp-timeline-container {
        padding: 50px 0px 10px;
        @include readonly {
            padding-top: 10px;
        }
    }

    .real-time-photo-intro {
        height: 300px;
        width: 1080px;
        margin: 0 auto;
        @include transition(all $global-transition-duration);
        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 15px;
            color: #999;
        }
        .left {
            width: 620px;
            float: left;
            .icon-take-photo {
                margin: 0px;
            }
        }
        .right {
            width: 430px;
            float: left;
            float: left;
        }
        &.hide {
            display: block;
            opacity: 0;
            height: 0px;
        }
    }

    .user-help a{
        font-size: 12px;
    }
    .album-settings-modal {
        width: 486px;

        .modal-body {
            min-height: 380px;
            min-width: 428px;
        }
        .albums-blank-tip {
            height: 350px;
            text-align: center;
            font-size: 14px;
            color: #333;
            @include background-retina("isolate/no-albums.png", "isolate/no-albums-2x.png");
            background-repeat: no-repeat;
            background-position: center;

            p {
                padding-top: 256px;
            }
        }
        ul {
            width: 446px;
            margin: 10px 0 0 0;
        }
        li {
            display: inline-block;
            list-style: none;
            margin: 10px 18px 8px 0;

            &:nth-of-type(4n) {
                margin-right: 0;
            }
            .thumbnail-container {
                position: relative;
                background: #f5f5f5;
                cursor: pointer;
                
                img {
                    width: 96px;
                    height: 96px;
                    border: 1px solid #eee;
                }
                label {
                    @include position(absolute, 0 0 2px 5px);
                }
            }
            span {
                display: block;
                line-height: 18px;
                &.album-name {
                    width: 98px;
                    margin: 6px 0 1px 0;
                    color: #333;
                    @include ellipsis();
                }
            }
        }
    }
    .album-settings {
        min-width: 30px;
        padding: 4px;
        @include position(absolute, 10px 21px 0 0);
    }

    .wd-photo-blank {
        @include position(absolute, 50px 0px 0px 0px);
        background-color: #fff;
        .content {
            width: 1080px;
            height: 270px;
            @include position(absolute, 50% 0 0 50%);
            margin-top: -135px;
            margin-left: -540px;
            h1 {
                font-size: 25px;
            }
            h2 {
                font-size: 15px;
                color: #999;
            }
            .left {
                width: 620px;
                float: left;
                .icon-take-photo {
                    margin: 0px;
                }
            }
            .right {
                width: 430px;
                float: left;
                float: left;
            }
        }
    }

    @import "showcase"; // showcase consists of group of photos
    @import "block";    // each photos is contained in a block

    @import "actionbar";  // photos toolbar
    @import "slide";    // image slide preview

    @import "share"; // facebook share
}
