<div>
    <div class="wd-portal">
        <div class="a" ng-switch on="isSupport">
            <div class="announcement" ng-show="isShowAnnouncement">
                {{$root.DICT.portal.ANNOUNCEMENT}}
                <a href="http://snappea.zendesk.com/entries/24375503--Official-Version-1-5-Now-with-Google-Sign-In" target="_blank">Learn More »</a>
                <a href="javascript:void(0)" class="close-announcement" ng-click="closeAnnouncement()"></a>
            </div>
            <div class="container" ng-switch-when="true">
                <h1>{{$root.DICT.portal.H1}}</h1>
                <p>{{$root.DICT.portal.H1_P}}</p>

                <!-- google signin -->
                <a href="https://account.wandoujia.com/v1/user/?do=login&callback=http://web.wandoujia.com:3501/" class="btn google-btn">
                    豌豆荚账号登陆
                </a>
                <!-- google signin end -->

            </div>
            <div class="container" ng-switch-when="false">
                <h1>{{$root.DICT.portal.UNSUPPORTED_H1}}</h1>
                <p>{{$root.DICT.portal.UNSUPPORTED_H1_P}}</p>
                <a href="http://www.google.com/chrome/" ng-click="$root.GA('login:to_chrome')" target="_blank" class="btn btn-primary btn-large" style="margin-top: 60px;">{{$root.DICT.portal.DOWNLOAD_CHROME}}</a>
            </div>
        </div>
        <div class="b">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h2>{{$root.DICT.portal.H2}}</h2>
                        <p ng-bind-html-unsafe="$root.DICT.portal.H2_P"></p>
                    </div>
                    <div class="span5">
                        <a href="https://play.google.com/store/apps/details?id=com.snappea" class="link-to-gp" target="_blank"></a>
                        <a href="http://snappea.zendesk.com/entries/23345336--Official-Security-for-SnapPea-Web"></a>
                    </div>
                </div>
                <ul class="inline">
                    <li>{{$root.DICT.portal.LINK_COPYRIGHT}}</li>
                    <li><a href="http://www.snappea.com/about.html">{{$root.DICT.portal.LINK_ABOUT}}</a></li>
                    <li><a href="http://www.snappea.com/terms.html">{{$root.DICT.portal.LINK_TERMS}}</a></li>
                    <li><a href="http://snappea.zendesk.com/entries/23345336--Official-Security-for-SnapPea-Web">{{$root.DICT.portal.LINK_PRIVACY}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
