<div class="wandou-signin-wrapper">
    <div class="wandou-signin">
        <div class="header">
            <div class="logo">
                <i class="icon-wandou-logo"></i>
            </div>
        </div>
        <div class="content">
            <div class="left">
                <div class="introduce"></div>
            </div>
            <div class="right">
                <p class="title">{{$root.DICT.cloudDataSignIn.TITLE}}</p>
                <p class="des">{{$root.DICT.cloudDataSignIn.DESCRIBE}}</p>

                <!-- wandou sign in -->
                <a ng-href="https://account.wandoujia.com/v1/user/?do=login&callback={{authCallbackURL}}" class="wandou-signin-btn">
                    {{$root.DICT.cloudDataSignIn.SIGN_IN}}
                </a>
                <!-- wandou sign in end -->

                <div class="icons">
                    <i class="icon-android"></i>
                    <i class="icon-iphone"></i>
                    <i class="icon-wphone"></i>
                </div>
            </div>

        </div>
        <div class="footer">
            <p>&copy;{{$root.DICT.cloudDataSignIn.COPY_INFO}}</p>
        </div>

        <div class="loading" ng-show="isCheckingLogin">
            <div class="wd-loading" data-visible="true"></div>
        </div>
    </div>
</div>
