<div class="wandou-signin-wrapper">
    <div class="wandou-signin">
        <div class="header">
            <div class="logo">
                <a href="http://www.wandoujia.com"><i class="icon-wandou-logo"></i></a>
            </div>
        </div>
        <div class="content">

            <!-- 垂直居中部分 -->
            <div class="vertical-center">
                <div class="left">
                    <div class="introduce"></div>
                </div>
                <div class="right">
                    <p class="title">{{$root.DICT.cloudDataSignIn.TITLE}}</p>
                    <p class="des">{{$root.DICT.cloudDataSignIn.DESCRIBE}}</p>

                    <!-- wandou sign in -->
                    <a ng-href="https://account.wandoujia.com/v1/user/?do=login&callback={{authCallbackURL}}" class="wandou-signin-btn btn btn-primary">
                        {{$root.DICT.cloudDataSignIn.SIGN_IN}}
                    </a>
                    <!-- wandou sign in end -->

                </div>

                <!-- photo extension ad -->
                <div class="photo-extension-intro">
                    <i class="icon-photo-extension-small"></i>
                    <div class="describe">
                        <p class="des">{{$root.DICT.photos.PHOTO_EXTENSION.HOME_PAGE_DESCRIBE}} 
                            <a href="{{$root.DICT.app.EXTENSION_STORE_URL}}" target="_blank" ng-click="$root.GA('photos:photo_extension:look_detail');">{{$root.DICT.photos.PHOTO_EXTENSION.INSTALL}}</a>
                            <!-- <a href="{{$root.DICT.app.EXTENSION_STORE_URL}}" target="_blank" ng-click="$root.GA('photos:photo_extension:360_look_detail');">{{$root.DICT.photos.PHOTO_EXTENSION.360SE}}</a> -->
                        </p>
                    </div>
                </div>
                <!-- photo extension ad end -->
            </div>
            <!-- 垂直居中部分 end -->

            <div class="footer">
                <p class="copyright">&copy; {{$root.DICT.cloudDataSignIn.COPY_INFO}}
                </p>
                <p class="intellectual">
                    {{$root.DICT.cloudDataSignIn.CONTRACT_DES}}
                    <a target="_blank" href="http://www.wandoujia.com/intellectual_property" rel="nofollow">{{$root.DICT.cloudDataSignIn.STATEMENT}}</a>
                </p>
                <p class="useless">
                    <a target="_blank" rel="nofollow"  href="http://www.miitbeian.gov.cn" class="meta">{{$root.DICT.cloudDataSignIn.RECORD1}}</a>
                    <span class="meta">・</span>
                    <a target="_blank" rel="nofollow"  href="http://www.miitbeian.gov.cn" class="meta">{{$root.DICT.cloudDataSignIn.RECORD2}}</a>
                    <span class="meta">・</span>
                    <a target="_blank" rel="nofollow"  href="http://www.bjgaj.gov.cn/"  class="meta">{{$root.DICT.cloudDataSignIn.RECORD3}}</a>
                    <span class="meta">・</span>
                    <a target="_blank" rel="nofollow"  href="javascript:;"  class="meta">
                    {{$root.DICT.cloudDataSignIn.RECORD4}}</a>
                </p>
            </div>

        </div>

        <div class="loading" ng-show="isCheckingLogin">
            <div class="wd-loading" data-visible="true"></div>
        </div>
    </div>
</div>
