<!-- 登陆页 -->
<div>
    <div class="wd-portal" ng-show="isShowNoSignInPage">
        <div class="a" ng-switch on="isSupport">
            <div class="container" ng-switch-when="true">
                <h1>{{$root.DICT.portal.H1}}</h1>
                <p>{{$root.DICT.portal.H1_P}}</p>

                <!-- google signin -->
                <button class="btn google-btn" ng-click="clickSignInButton();">
                        <i class="icon-google-btn"></i>
                        <span class="google-btn-word">
                            {{$root.DICT.portal.GOOGLE_BUTTON}}
                        </span>
                </button>
                <!-- google signin end -->

                <span class="btn-safari" ng-click="safariHelp()" ng-show="isSafari">{{$root.DICT.portal.SAFARI}}<br></span>

            </div>
            <div class="container" ng-switch-when="false">
                <h1>{{$root.DICT.portal.UNSUPPORTED_H1}}</h1>
                <p>{{$root.DICT.portal.UNSUPPORTED_H1_P}}</p>
                <a href="http://www.google.com/chrome/" ng-click="$root.GA('login:to_chrome')" target="_blank" class="btn btn-primary btn-large" style="margin-top: 60px;">{{$root.DICT.portal.DOWNLOAD_CHROME}}</a>
            </div>
        </div>
        <div class="b">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h2>{{$root.DICT.portal.H2}}</h2>
                        <p ng-bind-html="$root.DICT.portal.H2_P"></p>
                    </div>
                    <div class="span5">
                        <a href="https://play.google.com/store/apps/details?id=com.snappea" class="link-to-gp" target="_blank"></a>
                        <a href="http://snappea.zendesk.com/entries/23345336--Official-Security-for-SnapPea-Web"></a>
                    </div>
                </div>
                <div class="row b-a">
                    <ul class="inline b-a-a">
                        <li><a ng-class="{'current': selectedLanguage('en')}" href="" ng-click="$root.applyLanguage('en')">English</a></li>
                        <li><a ng-class="{'current': selectedLanguage('de')}" href="" ng-click="$root.applyLanguage('de')">Deutsch</a></li>
                        <li><a ng-class="{'current': selectedLanguage('pt-br')}" href="" ng-click="$root.applyLanguage('pt-br')">Português (Brasil)</a></li>
                        <li><a ng-class="{'current': selectedLanguage('zh-tw')}" href="" ng-click="$root.applyLanguage('zh-tw')">中文 (正體)</a></li>
                        <li><a ng-class="{'current': selectedLanguage('es')}" href="" ng-click="$root.applyLanguage('es')">Español</a></li>
                        <li><a ng-class="{'current': selectedLanguage('th')}" href="" ng-click="$root.applyLanguage('th')">ภาษาไทย</a></li>
                    </ul>
                    <ul class="inline b-a-b">
                        <li><a href="http://www.snappea.com/about.html">{{$root.DICT.portal.LINK_ABOUT}}</a></li>
                        <li><a href="http://www.snappea.com/terms.html">{{$root.DICT.portal.LINK_TERMS}}</a></li>
                        <li><a href="http://snappea.zendesk.com/entries/23345336--Official-Security-for-SnapPea-Web">{{$root.DICT.portal.LINK_PRIVACY}}</a></li>
                        <li>{{$root.DICT.portal.LINK_COPYRIGHT}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 登陆页 end -->

<!-- 设备列表页 -->
<div class="devices-tpl" ng-if="!isShowNoSignInPage && (devicesList.length>=0)">
    <div wd-user-profile-button></div>

    <!-- 新用户引导 -->
    <div class="user-guide" ng-if="(!isOldUser && devicesList.length === 0) && ($root.GA('onboard:guide:page1') || true)">
        <div class="header">
            <div class="title current">
                <p class="num">1</p>
                <p class="step">{{$root.DICT.portal.USER_GUIDE.STEP1}}</p>
            </div>
            <div class="title" ng-class="{current: (userGuideStep === 1), step2: (userGuideStep === 2)}">
                <p class="num">2</p>
                <p class="step">{{$root.DICT.portal.USER_GUIDE.STEP2}}</p>
            </div>
            <div class="title" ng-class="{current: (userGuideStep === 2)}">
                <p class="num">3</p>
                <p class="step">{{$root.DICT.portal.USER_GUIDE.STEP3}}</p>
            </div>
            <div class="angle step2"></div>
            <div class="angle active" ng-class="{step1: (userGuideStep === 1), step2: (userGuideStep === 2)}"></div>
        </div>
        <div class="step1-block" ng-class="{move:(userGuideStep === 2)}">
            <h1>{{$root.DICT.portal.USER_GUIDE.PAGE1_H1}}</h1>
            <h2>{{$root.DICT.portal.USER_GUIDE.PAGE1_H2}}</h2>
            <div class="content">
                <div class="left">
                    <a target="_blank" class="googleplay" href="https://play.google.com/store/apps/details?id=com.snappea">
                        <i class="icon-googleplay"></i>
                    </a>
                    <p ng-bind-html="$root.DICT.portal.USER_GUIDE.PAGE1_WAY1"></p>
                </div>
                <div class="or">
                    <p>{{$root.DICT.portal.WORD.OR}}</p>
                </div>
                <div class="right">
                    <div class="qr-code"></div>
                    <p>{{$root.DICT.portal.USER_GUIDE.PAGE1_WAY2}}</p>
                </div>
            </div>
            <div class="next btn" ng-click="nextUserGuide();$root.GA('onboard:guide:click-next');">{{$root.DICT.portal.WORD.NEXT}}</div>
        </div>
        <div class="step2-block" ng-class="{move:(userGuideStep === 2)}" ng-if="(userGuideStep === 2)">
            <h1>{{$root.DICT.portal.USER_GUIDE.PAGE2_H1}}</h1>
            <h2>{{$root.DICT.portal.USER_GUIDE.PAGE2_H2}}</h2>
            <div class="content">
                <div class="phone"></div>
                <div class="user-profile">
                    <img class="photo" ng-src="{{profile.avatar}}">
                    <div class="account">
                        <p class="name" title="{{profile.nick}}">{{profile.nick}}</p>
                        <p class="email" title="{{profile.email}}">{{profile.email}}</p>
                    </div>
                </div>
                <p class="tip" ng-bind-html="$root.DICT.portal.USER_GUIDE.PAGE2_WAY1.replace('$$$$', profile.email)"></p>
            </div>
            <a target="_blank" class="help" href="https://snappea.zendesk.com/forums/20791302-Connecting-Your-Device">{{$root.DICT.portal.USER_GUIDE.PAGE2_WAY2}}</a>
        </div>
    </div>
    
    <!-- no device start -->
    <div class="no-device" ng-if="isOldUser && devicesList.length === 0">
        <h1>{{$root.DICT.portal.NO_DEVICES.h1}}</h1>
        <h2>{{$root.DICT.portal.NO_DEVICES.h2}}</h2>
        <div class="step">
            <dl class="step1">
                <dt></dt>
                <h2 class="num">1</h2>
                <dd ng-bind-html="$root.DICT.portal.NO_DEVICES.step1"></dd>
            </dl>
            <dl class="step2">
                <dt>
                    <div class="user-profile">
                        <img class="photo" ng-src="{{profile.avatar}}">
                        <p class="name" title="{{profile.nick}}">{{profile.nick}}</p>
                    </div>
                </dt>
                <h2 class="num">2</h2>
                <dd>{{$root.DICT.portal.NO_DEVICES.step2}} <span class="account">{{profile.email}}</span></dd>
            </dl>
            <dl class="step3">
                <dt></dt>
                <h2 class="num">3</h2>
                <dd>{{$root.DICT.portal.NO_DEVICES.step3}}</dd>
            </dl>
            <p ng-bind-html="$root.DICT.portal.NO_DEVICES.foot"></p>
        </div>
    </div>
    <!-- no device end -->

    <!-- select devices start -->
    <div class="select-device" ng-if="isOldUser && devicesList.length >= 1">
        <h1>{{$root.DICT.portal.SELECT_DEVICES.h1}}</h1>
        <h2>{{$root.DICT.portal.SELECT_DEVICES.h2_1}} <span>{{devicesList.length}}</span> {{$root.DICT.portal.SELECT_DEVICES.h2_2}}</h2>
        <div class="list">
            <div class="devices-item" ng-repeat="item in devicesList" ng-click="connectDevice(item);" ng-class="{'selected-device': item.loading}">
                <div class="icon">
                    <i class="icon-phone-dark"></i>
                    <i class="icon-phone-white" ng-if="!item.loading"></i>
                    <div class="wd-loading wd-loading-white phone-loading" data-visible="true" ng-if="item.loading"></div>
                </div>
                <div class="phone">
                    <p class="phone-name" title="{{item.model}}">{{item.model}}</p>
                </div>
                <div class="wifi">
                    <p class="status" ng-if="item.loading">{{$root.DICT.portal.CONNECTING}}</p>
                    <i class="icon-wifi" ng-if="!item.loading"></i>
                    <i class="icon-wifi-white" ng-if="!item.loading"></i>
                    <p class="ssid" title="{{(item.ip && item.attributes.ssid) || '3G'}}" ng-if="!item.loading">{{(item.ip && item.attributes.ssid) || '3G'}}</p>
                </div>
            </div>

            <div class="devices-item add-new-phone-button" ng-if="!isShowAddNewPhoneTip " ng-click="showAddNewPhoneTip()">
                <i class="icon-add-dark"></i>
                <i class="icon-add-white"></i>
                <p>{{$root.DICT.portal.SELECT_DEVICES.new_phone}}</p>
            </div>

            <div class="add-new-phone-tip" ng-if="isShowAddNewPhoneTip ">
                <p ng-bind-html="$root.DICT.portal.ADD_NEW_PHONE_TIPS.STEP1"></p>
                <a href="https://play.google.com/store/apps/details?id=com.snappea">
                    <i class="icon-googleplay"></i>
                </a>
                <p ng-bind-html="$root.DICT.portal.ADD_NEW_PHONE_TIPS.STEP2.replace('$$$$', profile.email)"></p>
                <p>{{$root.DICT.portal.ADD_NEW_PHONE_TIPS.STEP3}}</p>
            </div>

        </div>
    </div>
    <!-- select devices end -->

</div>
<!-- 设备列表页 end -->

<div class="loading-google" ng-show="isLoadingDevices">
    <div class="wd-loading" data-visible="true"></div>
    <div class="sign-in-progress">{{signInProgress}}...</div>
</div>
