<!-- 登陆页 -->
<div>
    <div class="wd-portal" ng-show="deviceNum<0">
        <div class="a" ng-switch on="isSupport">
            <div class="container" ng-switch-when="true">
                <h1>{{$root.DICT.portal.H1}}</h1>
                <p>{{$root.DICT.portal.H1_P}}</p>

                <!-- google signin -->
                <button class="btn google-btn" wd-google-button
                        ng-click = "clickSignInButton()"
                        ng-disabled = "signInBtnDisabled">
                    <i class="icon-google-btn" ng-show="!signInBtnDisabled"></i>
                    <span class="google-btn-word" ng-show="!signInBtnDisabled">
                        {{$root.DICT.portal.GOOGLE_BUTTON}}
                    </span>
                    <div class="wd-loading" data-visible="true" ng-show="signInBtnDisabled"></div>
                </button>
                <!-- google signin end -->

                <span class="btn-safari" ng-click="safariHelp()" ng-show="isSafari">{{$root.DICT.portal.SAFARI}}<br></span>

            </div>
            <div class="container" ng-switch-when="false">
                <h1>{{$root.DICT.portal.UNSUPPORTED_H1}}</h1>
                <p>{{$root.DICT.portal.UNSUPPORTED_H1_P}}</p>
                <a href="http://www.google.com/chrome/" ng-click="$root.GA('login:to_chrome')" target="_blank" class="btn btn-primary btn-large" style="margin-top: 60px;">{{$root.DICT.portal.DOWNLOAD_CHROME}}</a>
            </div>
        </div>
        <div class="b">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h2>{{$root.DICT.portal.H2}}</h2>
                        <p ng-bind-html="$root.DICT.portal.H2_P"></p>
                    </div>
                    <div class="span5">
                        <a href="https://play.google.com/store/apps/details?id=com.snappea" class="link-to-gp" target="_blank"></a>
                        <a href="http://snappea.zendesk.com/entries/23345336--Official-Security-for-SnapPea-Web"></a>
                    </div>
                </div>
                <div class="row b-a">
                    <ul class="inline b-a-a">
                        <li><a ng-class="{'current': selectedLanguage('en')}" href="" ng-click="$root.applyLanguage('en')">English</a></li>
                        <li><a ng-class="{'current': selectedLanguage('de')}" href="" ng-click="$root.applyLanguage('de')">Deutsch</a></li>
                        <li><a ng-class="{'current': selectedLanguage('pt-br')}" href="" ng-click="$root.applyLanguage('pt-br')">Português (Brasil)</a></li>
                        <li><a ng-class="{'current': selectedLanguage('zh-tw')}" href="" ng-click="$root.applyLanguage('zh-tw')">中文 (正體)</a></li>
                        <li><a ng-class="{'current': selectedLanguage('es')}" href="" ng-click="$root.applyLanguage('es')">Español</a></li>
                        <li><a ng-class="{'current': selectedLanguage('th')}" href="" ng-click="$root.applyLanguage('th')">ภาษาไทย</a></li>
                    </ul>
                    <ul class="inline b-a-b">
                        <li><a href="http://www.snappea.com/about.html">{{$root.DICT.portal.LINK_ABOUT}}</a></li>
                        <li><a href="http://www.snappea.com/terms.html">{{$root.DICT.portal.LINK_TERMS}}</a></li>
                        <li><a href="http://snappea.zendesk.com/entries/23345336--Official-Security-for-SnapPea-Web">{{$root.DICT.portal.LINK_PRIVACY}}</a></li>
                        <li>{{$root.DICT.portal.LINK_COPYRIGHT}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 登陆页 end -->

<!-- 设备列表页 -->
<div class="devices-tpl" ng-if="deviceNum>=0">
    <div wd-user-profile-button></div>

    <!-- 新用户引导 -->
    <div class="user-guide" ng-if="!isOldUser">

    </div>
    
    <!-- no device start -->
    <div class="no-device" ng-if="isOldUser && deviceNum === 0">
        <h1>{{$root.DICT.portal.NO_DEVICES.h1}}</h1>
        <p>{{$root.DICT.portal.NO_DEVICES.h2}}</p>
        <div class="step">
            <dl class="step1">
                <dt></dt>
                <dd>{{$root.DICT.portal.NO_DEVICES.step1}} <a href="https://play.google.com/store/apps/details?id=com.snappea">Google Play</a>.</dd>
            </dl>
            <dl class="step2">
                <dt></dt>
                <dd>{{$root.DICT.portal.NO_DEVICES.step2}}</dd>
            </dl>
            <dl class="step3">
                <dt></dt>
                <dd>{{$root.DICT.portal.NO_DEVICES.step3}} <span>{{accountEmail || $root.DICT.portal.SHOW_ACCOUNT_NAME_DEFAULT}}</span></dd>
            </dl>
            <p>{{$root.DICT.portal.NO_DEVICES.foot}}<a href="https://play.google.com/store/apps/details?id=com.snappea">{{$root.DICT.portal.NO_DEVICES.foot_updata}}</a>.</p>
        </div>
    </div>
    <!-- no device end -->

    <!-- select devices start -->
    <div class="select-device" ng-if="deviceNum>=1">
        <h1>{{$root.DICT.portal.SELECT_DEVICES.h1}}</h1>
        <p>{{$root.DICT.portal.SELECT_DEVICES.h2_1}} <span>{{deviceNum}}</span> {{$root.DICT.portal.SELECT_DEVICES.h2_2}}</p>
        <div class="list">
            <div class="devices-item" ng-repeat="item in devicesList" ng-click="connectPhone(item);" ng-class="{'selected-device': item.loading}">
                <div class="wd-loading phone-loading" data-visible="true" ng-if="item.loading"></div>
                <div class="phone">
                    <i class="icon-phone-dark"></i>
                    <i class="icon-phone-white" ng-if="!item.loading"></i>
                    <p class="phone-name" title="{{item.model}}">{{item.model}}</p>
                </div>
                <div class="wifi">
                    <i class="icon-wifi"></i>
                    <i class="icon-wifi-white"></i>
                    <p class="ssid" title="{{item.attributes.ssid}}">{{item.attributes.ssid}}</p>
                </div>
            </div>

            <div class="devices-item add-new-phone-button" ng-if="!isShowAddNewPhoneTip " ng-click="showAddNewPhoneTip()">
                <i class="icon-add-dark"></i>
                <i class="icon-add-white"></i>
                <p>{{$root.DICT.portal.SELECT_DEVICES.new_phone}}</p>
            </div>

            <div class="add-new-phone-tip" ng-if="isShowAddNewPhoneTip ">
                <p ng-bind-html="$root.DICT.portal.ADD_NEW_PHONE_TIPS.STEP1"></p>
                <a href="https://play.google.com/store/apps/details?id=com.snappea">
                    <i class="icon-googleplay"></i>
                </a>
                <p ng-bind-html="$root.DICT.portal.ADD_NEW_PHONE_TIPS.STEP2.replace('$$$$', accountEmail)"></p>
                <p>{{$root.DICT.portal.ADD_NEW_PHONE_TIPS.STEP3}}</p>
            </div>

            <!-- <p><a ng-click="showConnectNewPhone()" href=""> + {{$root.DICT.portal.SELECT_DEVICES.new_phone}}</a></p> -->

        </div>
    </div>
    <!-- select devices end -->
</div>
<!-- 设备列表页 end -->

<!-- connect new phone pop start -->
<!-- data-ok 是事件 -->
<div class="change-devices-pop bs-modal" data-toggle="isShowChangeDevicesPop" data-ok="" data-cancel="isShowChangeDevicesPop=false;" data-header="">
    <div class="content">
        <h1>{{$root.DICT.portal.CHANGE_DEVICES_POP.h1}}</h1>
        <p>{{$root.DICT.portal.CHANGE_DEVICES_POP.h2}}</p>
        <div class="step">
            <dl class="step1">
                <dt></dt>
                <dd>{{$root.DICT.portal.CHANGE_DEVICES_POP.step1}} <a href="https://play.google.com/store/apps/details?id=com.snappea">Google Play</a>.</dd>
            </dl>
            <dl class="step2">
                <dt></dt>
                <dd>{{$root.DICT.portal.CHANGE_DEVICES_POP.step2}}</dd>
            </dl>
            <dl class="step3">
                <dt></dt>
                <dd>{{$root.DICT.portal.CHANGE_DEVICES_POP.step3}} <span>{{accountEmail || $root.DICT.portal.SHOW_ACCOUNT_NAME_DEFAULT}}</span> . </dd>
            </dl>
        </div>
        <button class="btn btn-primary" bs-modal-cancel>{{$root.DICT.portal.CHANGE_DEVICES_POP.button}}</button>
    </div>
</div>
<!-- connect new phone pop end -->

<div class="loading-google"  ng-show="isLoadingDevices">
    <div class="wd-loading" data-visible="true"></div>
    <div class="sign-in-progress">{{signInProgress}}...</div>
</div>
