<div ng-switch on="autoAuth">
    <div class="wd-portal" ng-switch-when="false" ng-show="deviceNum<0">
        <div class="a" ng-switch on="isSupport">
            <div class="container" ng-switch-when="true">
                <h1>{{$root.DICT.portal.H1}}</h1>
                <p>{{$root.DICT.portal.H1_P}}</p>

                <!-- google signin -->
                <button class="btn google-btn" ng-click="googleSigIn()" disabled="disabled">
                    <i class="icon-google-btn"></i>
                    Sign in with Google
                </button>
                <!-- google signin end -->

            </div>
            <div class="container" ng-switch-when="false">
                <h1>{{$root.DICT.portal.UNSUPPORTED_H1}}</h1>
                <p>{{$root.DICT.portal.UNSUPPORTED_H1_P}}</p>
                <a href="http://www.google.com/chrome/" ng-click="$root.GA('login:to_chrome')" target="_blank" class="btn btn-primary btn-large" style="margin-top: 60px;">{{$root.DICT.portal.DOWNLOAD_CHROME}}</a>
            </div>
        </div>
        <div class="b">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h2>{{$root.DICT.portal.H2}}</h2>
                        <p ng-bind-html-unsafe="$root.DICT.portal.H2_P"></p>
                    </div>
                    <div class="span5">
                        <a href="https://play.google.com/store/apps/details?id=com.snappea" class="link-to-gp" target="_blank"></a>
                        <a href="http://snappea.zendesk.com/entries/23345336--Official-Security-for-SnapPea-Web"></a>
                    </div>
                </div>
                <ul class="inline">
                    <li>{{$root.DICT.portal.LINK_COPYRIGHT}}</li>
                    <li><a href="http://www.snappea.com/about.html">{{$root.DICT.portal.LINK_ABOUT}}</a></li>
                    <li><a href="http://www.snappea.com/terms.html">{{$root.DICT.portal.LINK_TERMS}}</a></li>
                    <li><a href="http://snappea.zendesk.com/entries/23345336--Official-Security-for-SnapPea-Web">{{$root.DICT.portal.LINK_PRIVACY}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wd-loading" ng-switch-when="true" data-visible="true"></div>
</div>

<div class="devices-tpl" ng-show="deviceNum>=0">
    <div class="sign-out" ng-click="googleSignOut();">
        <i class="icon-signoutdark"></i>
        Sign out
    </div>

    <!-- no device start -->
    <div class="no-device" ng-show="deviceNum==0">
        <h1>Sign in on your phone.</h1>
        <p>And your photos,messages,contacts and apps will be shown here.</p>
        <div class="step">
            <dl class="step1">
                <dt></dt>
                <dd>1.Install SnapPea from <a href="https://play.google.com/store/apps/details?id=com.snappea">Google play</a>.</dd>
            </dl>
            <dl class="step2">
                <dt></dt>
                <dd>2.Open SnapPea on your phone.</dd>
            </dl>
            <dl class="step3">
                <dt></dt>
                <dd>3.Sign in with <span>{{accountEmail}}</span></dd>
            </dl>
            <p>If you didn't find a sign in button on your phone,please <a href="https://play.google.com/store/apps/details?id=com.snappea">update you SnapPea to the latest version</a>.</p>
        </div>
    </div>
    <!-- no device end -->

    <!-- select devices start -->
    <div class="select-device" ng-show="deviceNum>=1">
        <h1>Select a phone.</h1>
        <p>We found <span>{{deviceNum}}</span> phones in your account.</p>
        <div class="list">
            <div ng-repeat="item in devicesList" ng-click="connectPhone(item);">
                <p>{{item.model}}</p>
                <span class="wifi" ng-show="!item.loading">
                    <i class="icon-wifi"></i><p>{{item.attributes.ssid}}</p>
                </span>
                <div class="wd-loading phone-loading" data-visible="true" ng-show="item.loading"></div>
            </div>
            <p><a ng-click="showConnectNewPhone()" href=""> + Connect a new phone</a></p>
        </div>
    </div>
    <!-- select devices end -->



</div>

<!-- connect new phone pop start -->
<!-- data-ok 是事件 -->
<div class="change-devices-pop bs-modal" data-toggle="isShowChangeDevicesPop" data-ok="" data-cancel="isShowChangeDevicesPop=false;" data-header="">
    <div class="content">
        <h1>Connect a new phone.</h1>
        <p>Just 3 steps, and you will find your phone here.</p>
        <div class="step">
            <dl class="step1">
                <dt></dt>
                <dd>1.Install SnapPea from <a href="https://play.google.com/store/apps/details?id=com.snappea">Google play</a>.</dd>
            </dl>
            <dl class="step2">
                <dt></dt>
                <dd>2.Open SnapPea on your phone.</dd>
            </dl>
            <dl class="step3">
                <dt></dt>
                <dd>3.Sign in with {{accountEmail}} . </dd>
            </dl>
        </div>
        <button class="btn btn-primary" bs-modal-cancel>Got it</button>
    </div>
</div>
<!-- connect new phone pop end -->

<div class="loading-google" ng-show="isLoadingDevices">
    <div class="wd-loading" data-visible="true"></div>
</div>
