<div class="user-profile-button" ng-mouseleave="isShowProfileDetail = false">
    <div class="profile" ng-mouseenter="isShowProfileDetail = true">
        <img class="photo" ng-src="{{profile.image.url}}">
        <p class="name" title="{{profile.displayName}}">{{profile.displayName}}</p>
        <i class="icon-angle-down"></i>
    </div>
    <div class="detail" ng-class="{show:isShowProfileDetail}">
        <div class="angle"></div>
        <p class="email">{{profile.email}}</p>
        <hr>
        <div class="btn signout" ng-click="googleSignOut();">{{$root.DICT.portal.SIGN_OUT}}</div>
    </div>
<div>