// Variables
$global-line-height: 20px;
$global-transition-duration: 0.4s;
$global-left-offset: 60px;
$global-sidebar-width: 310px;
$global-font-weight-normal: 400;
$global-font-weight-bold: 700;

$standard-green: #3baa24;
$standard-red: #f24949;
$standard-pink: #eb6f67;
$standard-orange: #e9bf31;
$standard-wheat: #d4b526;
$standard-olive-green: #79a800;
$standard-blue-green: #34a97d;
$standard-light-green: #95c60e;
$standard-blue: #3788bb;

// http://docs.angularjs.org/api/ng.directive:ngCloak
[ng\:cloak], [ng-cloak] { display: none; }
.ng-cloak { display: none; }

html, body {
    height: 100%;
    overflow: hidden;
}

html.cors .no-support-placeholder {
    display: none;
}

.viewport {
    @include position;
    height: 100%;
    margin-left: $global-left-offset;
    overflow: hidden;
    background-color: #fff;
    @include transition(all 300ms linear);

    .module-view {
        @include position;
        height: 100%;
        overflow: hidden;
    }
}

.open-sidebar .viewport {
    @include transform(translate3d($global-sidebar-width, 0, 0));
    pointer-events: none;
    z-index: 3;
}

.open-sidebar .navigator {
    z-index: 2;
}

body {
    background: #fff;
}

html.zh-cn body {
    font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}

a, a:hover {
    color: #2f7c2f;
}
img {
    max-width: none;
}

// Prevent tooltip wrap.
.tooltip-inner {
    @include nowrap;
}

.btn {
    font-size: 12px;
}

.modal {
    @include user-select(none);
    width: 350px;
    margin-left: -175px;

    .modal-body {
        color: #999;
    }
    .modal-footer .btn {
        min-width: 65px;
    }
}
.close {
    @include button-effect-light;
}

.alert {
    h4 {
        color: inherit;
    }
    color: inherit;
}

@import "scrollbar";
