// Variables
$global-line-height: 20px;
$global-transition-duration: 0.4s;
$global-left-offset: 60px;
$global-sidebar-width: 310px;
$global-font-weight-normal: 400;
$global-font-weight-bold: 700;

$standard-green: #3baa24;
$standard-deep-green: #2f7c2f;
$standard-red: #f24949;
$standard-pink: #eb6f67;
$standard-orange: #e9bf31;
$standard-wheat: #d4b526;
$standard-olive-green: #79a800;
$standard-blue-green: #34a97d;
$standard-light-green: #95c60e;
$standard-blue: #3788bb;

// http://docs.angularjs.org/api/ng.directive:ngCloak
[ng\:cloak], [ng-cloak] { display: none; }
.ng-cloak { display: none; }

html, body {
    height: 100%;
    overflow: hidden;
}

html.cors .no-support-placeholder {
    display: none;
}

.viewport {
    @include position;
    height: 100%;
    margin-left: $global-left-offset;
    overflow: hidden;
    background-color: #fff;
    @include transition(all 300ms linear);
    .module-view {
        @include position;
        height: 100%;
        overflow: hidden;

        &.remote-connection-wap {
            height: calc(100% - 32px);
            height: -webkit-calc(100% - 32px);
            height: -moz-calc(100% - 32px);
        }
    }
}

.open-sidebar .viewport {
    margin-left: $global-left-offset + $global-sidebar-width;
    pointer-events: none;
    z-index: 3;
}

.open-sidebar .navigator {
    z-index: 2;
}

body {
    background: #fff;
}

html.zh-cn body {
    font-family: "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:hover {
    color: $standard-deep-green;
}
img {
    max-width: none;
}

// Prevent tooltip wrap.
.tooltip-inner {
    @include nowrap;
}

.btn {
    font-size: 12px;
}

.modal {
    @include user-select(none);
    width: 350px;
    margin-left: -175px;

    .modal-body {
        color: #999;
        ol {
            margin-left: 18px;
        }
        strong {
            color: #000;
            font-weight: $global-font-weight-bold;
        }
    }
    .modal-footer .btn {
        min-width: 65px;
    }
}
.close {
    @include button-effect-light;
}

.alert {
    h4 {
        color: inherit;
    }
    color: inherit;
}

.wd-upgrade-warning{    
    a.btn-primary:hover {
        color: #fff;
    }
}

.wd-tip {
    height: 20px;
    padding: 6px 10px;
    background-color: #ED9A4D;
    color: #fff;
    @include position;
    @include transition(all $global-transition-duration);

    &.closing-tip {
        @include animation(slideOutUp $global-transition-duration);
        height: 0;
        padding: 0;
    }
    &.remote-connection-tip {
        .tip-content {
            width: 80%;
        }

        .tip-action {
            text-decoration: underline;
        }
    }

    .tip-content {
        width: 98%;
        @include ellipsis;
        margin: 0;
    }
    .tip-action {
        @include position(absolute, 6px 6px 0 0);
        cursor: pointer;
        padding: 0 4px;
    }
}

@import "scrollbar";
