$global-icons: 
"add",
"add-dark",
"add-white",
"angle-down",
"album-settings",
"app",
"app-default",
"audio-play",
"audio-stop",
"buticon",
"check",
"chrome",
"close",
"close-h",
"close-p",
"close-white",
"contact",
"del-toolbar",
"delete",
"delete-dark",
"down",
"down-dark",
"down-toolbar",
"drop",
"edit",
"edge",
"edge-gray",
"edge-green",
"edge-white",
"facebook",
"facebook-blue",
"facebook-light",
"facebook-btn",
"failed",
"failed-w",
"feedback",
"gprs",
"gprs-gray",
"gprs-green",
"gprs-white",
"google-btn",
"googleplay",
"group48",
"help",
"i18n",
"img",
"logo-white",
"logo64",
"mark",
"noapps",
"nocontacts",
"nophotos",
"nosms",
"phone",
"phone-white",
"phone-dark",
"phoneswitch",
"profile128",
"profile48",
"profile78",
"profileicon",
"remote",
"retry",
"search",
"sel-toolbar",
"sel-white",
"select",
"sending",
"sending-w",
"sendsms",
"setting",
"share",
"share-tb",
"share-toolbar",
"signout",
"signoutdark",
"slide-close",
"slidedl",
"slidedown",
"slidenext",
"slidepause",
"slideplay",
"slidepre",
"sliderotate",
"slideshare",
"sms",
"take-photo",
"wifi-gray",
"wifi-green",
"wifi-white",
"wandou-logo",
"update";

@each $name in $global-icons {
    .icon-#{$name} {
        // Regularly, we'd like the boundary of interactive zone of a icon larger than
        // its physics metric.
        // These could allow icon has any padding without bleeding sprites.
        background-clip: content-box;
        background-origin: content-box;

        $width: image-width("icons/#{$name}.png");
        $height: image-height("icons/#{$name}.png");
        // Margin should be integer.
        $margin-top: floor(($global-line-height - $height) / 2);
        $margin-bottom: $global-line-height - $height - $margin-top;

        @include use-sprite($name);
        display: inline-block;
        width: $width;
        // Each icon should be inline-block and occupies $global-line-height of height.
        // margins keeps it vertical align by middle of line box absolutely.
        height: $height;
        line-height: 0;
        vertical-align: top;
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;

        cursor: inherit;
    }
}
