@import "compass";      // compass
@import "compass/css3/user-interface"; // user-select support

@import "mixins/layer";
@import "mixins/position";
@import "mixins/button-effect";
@import "mixins/retina-sprites";
@import "mixins/retina-background-image";
@import "mixins/angular";
@import "mixins/readonly";
@import "mixins/unselected-word";

@import "base";         // platform level styles
@import "icons";        // platform level icons
@import "common/main";  // common styles
@import "ui/main";
@import "photos/main";  // photos module styles
@import "auth/main";    // auth module styles
@import "messages/main";
@import "contacts/main";
@import "applications/main";

