.contact-photo-bg-green{
    background-color: $standard-green;  
}
.contact-photo-bg-red{
    background-color: $standard-red;
}
.contact-photo-bg-blue{
    background-color: $standard-blue;
}
.contact-photo-bg-pink{
    background-color: $standard-pink;
}
.contact-photo-bg-orange{
    background-color: $standard-orange;
}
.contact-photo-bg-wheat{
    background-color: $standard-wheat;
}
.contact-photo-bg-olive-green{
    background-color: $standard-olive-green;
}
.contact-photo-bg-blue-green{
    background-color: $standard-blue-green;
}
.contact-photo-bg-light-green{
    background-color: $standard-light-green;
}
.contact-photo-bg-white{
    background-color: #FFF;
}
