#zenbox_tab {
    img {
        opacity: 0.65;
        &:focus, &:hover {
            opacity: 0.9;
        }
        &:active {
            opacity: 0.5;
        }
        @include transition(opacity $global-transition-duration);
    }
    .background {
        width: 28px;
        position: absolute;
        top: 0px;
        height: 110px;
        background-color: #fff;
    }
}
