#zenbox_tab {
    img {
        opacity: 0.65;
        &:focus, &:hover {
            opacity: 0.9;
        }
        &:active {
            opacity: 0.5;
        }
        @include transition(opacity $global-transition-duration);
    }
    .background {
        width: 28px;
        @include position(absolute, 0px 0 0 0);
        height: 110px;
        background-color: #fff;
        border-radius: 3px;
    }
}
