// Global Navbar.
// Basic styles are modified in bootstrap submodule.

@import "auth/*.png";
.navigator {
    @include position(fixed, 0px 0 0px 0px);
    width: 60px;

    & > .navigator-inner {
        @include position;
        width: 100%;
        height: 100%;
        background-color: #2b2b2b;
        @include background-image(linear-gradient(right, #2a2a2a, #2c2c2c));
        @include box-shadow(inset -2px 0 2px rgba(#000, 0.2));

        .brand {
            text-align: center;
            height: 92px;
        }

        .nav {
            margin: 0;
            & > li {
                margin: 17px 0;
                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                & > a {
                    height: 55px;
                    text-align: center;
                }
            }
        }

        .nav-settings {
            @include position(absolute, 0 0px 0px 0px);

            a {
                color: #fff;
                &:hover, &:focus {
                    text-decoration: none;
                }
            }

            > li, .signout {
                border-top: 1px solid #1d1d1d;
                @include box-shadow(inset 0 1px 0 rgba(#fff, 0.05));
            }

            > li {
                margin: 0;
            }

            > li > a {
                padding: 15px 0;
                height: 20px;
            }

            .menu {
                @include nowrap;
            }
            .menu a {
                display: block;
            }

            @media screen and (max-height: 500px) {
                li:not(:last-of-type) {
                    display: none;
                }
            }

            .unselected{
                visibility:hidden;
            }
            .selected{
                visibility:visible;
            }
        }
    }
    // logo & icons
    i.icon-logo64 {
        $width: icon-width("logo64");
        $height: icon-height("logo64");
        width: $width;
        height: $height;
        $margin: (92px - $height) / 2;
        margin: $margin 0;
    }
    .nav > li > a {
        @include transition(opacity $global-transition-duration,
                            background $global-transition-duration * 1.5);
        opacity: 0.65;
    }


    .nav > .active > a {
        &, &:hover, &:focus {
            background-color: #6db800;
        }
        &, &:active {
            opacity: 1;
        }
    }
    .nav > li > a {
        &:hover, &:focus {
            opacity: 1;
            background-color: transparent;
        }
        &:active {
            opacity: 0.5;
        }
    }
    @each $icon in "app", "contact", "img", "sms" {
        i.icon-#{$icon} {
            width: icon-width($icon);
            $height: icon-height($icon);
            height: $height;
            $margin: (55px - $height) / 2 - 1px;
            margin-top: $margin;
            margin-bottom: $margin;
        }
    }

    .notification {
        @include position;
    }
    .notification:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background: #6eb800;
        @include position(absolute, 10px 10px 0 0);
    }

    .change-devices-pop{
        position: fixed;
        top : 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color:rgba(0,0,0,0.8);

        h1{
            font-weight: normal;
            font-size: 35px;
        }
        p{
            color: #666;
            font-size: 15px;
        }
        div.content{
            width: 704px;
            height: 379px;
            background-color: #fff;
            padding-top: 15px;
            padding-left: 30px;
            position: absolute;
            top: 50%;
            margin-top: -197px;
            left: 50%;
            margin-left: -367px;
            span.closePop{
                position: absolute;
                top: 10px;
                right: 15px;
                font-size: 25px;
                cursor: pointer;
                color: #999;
            }
        }
        div.step{
            margin-top: 20px;
            dl{
                width: auth-sprite-width("step1");
                height: 300px;
                float: left;
            }
            dd{
                margin-left: 0px;
                font-size: 12px;
                margin-top: 6px;
            }
            dl.step1{
                dt{
                    @include auth-sprite("step1");
                    width: auth-sprite-width("step1");
                    height: auth-sprite-height("step1");
                    margin: 0 auto;
                }
            }
            dl.step2{
                margin-left: 35px;
                dt{
                    @include auth-sprite("step2");
                    width: auth-sprite-width("step2");
                    height: auth-sprite-height("step2");
                    margin: 0 auto;
                }
            }
            dl.step3{
                margin-left: 35px;
                dt{
                    @include auth-sprite("step3");
                    width: auth-sprite-width("step3");
                    height: auth-sprite-height("step3");
                    margin: 0 auto;
                }
            }
            p{
                float: left;
            }
            span{
                background-color: #50a00b;
                color: #FFF;
            }
        }

    }
}
