// Global Navbar.
// Basic styles are modified in bootstrap submodule.

.navigator {
    @include position(absolute, 0px 0 0px 0px);
    width: 60px;

    & > .navigator-inner {
        @include position;
        width: 100%;
        height: 100%;
        background-color: #2b2b2b;
        @include background-image(linear-gradient(right, #2a2a2a, #2c2c2c));
        @include box-shadow(inset -2px 0 2px rgba(#000, 0.2));

        .brand {
            text-align: center;
            height: 92px;
        }

        .nav {
            margin: 0;
            & > li {
                margin: 17px 0;
                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                & > a {
                    height: 55px;
                    text-align: center;
                }
            }
        }

        .nav-settings {
            @include position(absolute, 0 0px 0px 0px);

            a {
                color: #fff;
                &:hover, &:focus {
                    text-decoration: none;
                }
            }

            > li {
                @include position;
                &::before {
                    content: "";
                    @include position(absolute, -1px 0 0 0);
                    width: 100%;
                    height: 1px;
                    @include background-image(linear-gradient(left, rgba(#000, 0) 10%, rgba(#000, 0.3) 50%, rgba(#000, 0) 90%));

                }

                &::after {
                    content: "";
                    @include position(absolute, 0px 0 0 0);
                    width: 100%;
                    height: 1px;
                    @include background-image(linear-gradient(left, rgba(#fff, 0) 10%, rgba(#fff, 0.05) 50%, rgba(#fff, 0) 90%));
                }
            }

            > li {
                margin: 0;
            }

            > li > a {
                padding: 15px 0;
                height: 20px;
            }

            .menu {
                @include nowrap;
            }
            .menu a {
                display: block;
            }

            @media screen and (max-height: 500px) {
                li:not(:last-of-type) {
                    display: none;
                }
            }

            .menu-item-div{
                white-space: nowrap;
            }

            .unselected{
                visibility:hidden;
            }
            .selected{
                visibility:visible;
            }
        }
    }
    // logo & icons
    i.icon-logo64 {
        $width: icon-width("logo64");
        $height: icon-height("logo64");
        width: $width;
        height: $height;
        $margin: (92px - $height) / 2;
        margin: $margin 0;
    }
    .nav > li > a {
        @include transition(opacity $global-transition-duration,
                            background $global-transition-duration * 1.5);
        opacity: 0.65;
    }


    .nav > .active > a {
        &, &:hover, &:focus {
            background-color: #6db800;
        }
        &, &:active {
            opacity: 1;
        }
    }
    .nav > li > a {
        &:hover, &:focus {
            opacity: 1;
            background-color: transparent;
        }
        &:active {
            opacity: 0.5;
        }
    }
    @each $icon in "app", "contact", "img", "sms" {
        i.icon-#{$icon} {
            width: icon-width($icon);
            $height: icon-height($icon);
            height: $height;
            $margin: (55px - $height) / 2 - 1px;
            margin-top: $margin;
            margin-bottom: $margin;
        }
    }

    .notification {
        @include position;
    }
    .notification:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background: #6eb800;
        @include position(absolute, 10px 10px 0 0);
    }

    $auth-spacing: 4px;
    @import "auth/*.png";
    .change-devices-pop{
        width: 770px;
        margin-left: -385px;
        div.modal-footer{
            display: none;
        }
        div.modal-body{
            height: 400px;
            overflow: hidden;
        }
        h1{
            font-weight: 300;
            margin-top: 23px;
            font-size: 35px;
            line-height: 22px;
            color:#000;
        }
        p{
            color: #999;
            font-size: 15px;
        }

        div.content{
            background-color: #fff;
            padding-left: 30px;
            button{
                position: absolute;
                bottom: 25px;
                left: 310px;
                width: 150px;
                height: 36px;
            }
        }

        div.step{
            dl{
                width: auth-sprite-width("step1");
                float: left;
                margin-bottom: 0px;
            }
            dd{
                margin-left: 0px;
                font-size: 12px;
                margin-top: 6px;
            }
            dl.step1{
                dt{
                    @include auth-sprite("step1");
                    width: auth-sprite-width("step1");
                    height: auth-sprite-height("step1");
                    margin: 0 auto;
                }
            }
            dl.step2{
                margin-left: 35px;
                dt{
                    @include auth-sprite("step2");
                    width: auth-sprite-width("step2");
                    height: auth-sprite-height("step2");
                    margin: 0 auto;
                }
            }
            dl.step3{
                margin-left: 35px;
                dt{
                    @include auth-sprite("step3");
                    width: auth-sprite-width("step3");
                    height: auth-sprite-height("step3");
                    margin: 0 auto;
                }
            }
            p{
                float: left;
            }
            span{
                font-weight: bold;
                font-style: italic;
                color: #000;
                background-color: #fff;
            }
        }
    }

    .language-modal {
        .language-list {
            @include clearfix;
            > li {
                float: left;
                width: 50%;
                margin: 5px 0;
            }
        }
        .modal-footer {
            display: none;
        }
    }

}
