.contacts-item{
    position: relative;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    height: 64px;
    @include transition(background-color,0.1s);

    div.photo{
        @include use-sprite("profile48");
        $avatar-width: icon-width("profile48");
        width: $avatar-width;
        height: $avatar-width;
        overflow: hidden;
        display: inline-block;
        position: absolute;
        top: 8px;
        @include readonly {
            left : 10px;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .photo-color{
            font-weight: 200;
            text-transform: uppercase;
            font-size: 24px;
            line-height: $avatar-width;
            text-align: center;
            width: 100%;
            height: 100%;
            color: #FFF;
            @include clearfix;
        }
	}

    .selected {
        display: inline-block;
        width: 43px;
        height: 100%;
        margin: 0;
    }

    div.info{
        position: absolute;
        left: 90px;
        @include readonly {
            left : 63px;
        }
        top: 13px;
        p{
            margin: 0px;
            cursor: default;
            text-overflow: ellipsis;
        }
        height: 40px;
        overflow: hidden;
        vertical-align: middle;
        margin-left: 10px;
        line-height: 23px;
        display: inline-block;
        .name{
            font-size: 16px;
            width: 226px;
            overflow: hidden;
            height: 20px;
            line-height: 20px;
        }
        .phone{
            width: 226px;
            overflow: hidden;
            height: 20px;
            font-size: 12px;
            color: #999;
            font-weight: 300;
            @include ellipsis;
        }
        .click .phone{
            color: #FFF;
        }
    }
}

.contacts-item:hover{
    background: whiteSmoke;
}

.contacts-item.checked{
    background: whiteSmoke;
}

