.wdj-contacts{

    .pf{
        position: fixed;
    }
    .pa{
        position: absolute;
    }

    ul{
        list-style: none;
        margin: 0px;
    }

    .contacts-list{
        @include position(absolute, 99px 0px 0px 0px);
        overflow-y : auto;
        @include readonly {
            top : 101px;
        }
        width: 429px;
        display: block;
        @include user-select(none);

        li.no-contacts{
            height: 64px;
            text-align: center;
            line-height: 64px;
            font-size: 12px;
        }
        li.load-more{
            font-size: 12px;
            display: block;
            width: 80px;
            padding: 10px 40px;
            margin: 10px auto;
            border-radius: 20px;
            background: #E6E6E6;
            text-align: center;
            opacity: 0.7;
            cursor: pointer;
        }
        li.load-more:hover{
            opacity: 1;
        }
        li .wd-loading{
            top:138px;
        }
        .clicked{
            background-color: #444444!important;
            color: #FFFFFF;
            cursor: default;
            border-right: 1px solid #444444;
        }

        div.page-btn{
            height: 40px;
            display: block;
            width: 99%;
            line-height: 25px;

            p{
                color: blue;
                display: inline;
                margin-left: 3px;
                cursor: pointer;
            }
            .now{
                background-color: #888;
            }
            div.page{
                display: inline;
                cursor: pointer;
                span{
                    margin-left:3px;
                    color:blue;
                }
            }
        }

    }

    .btn-all{
        background-color: #FFF;
        min-width: 350px;
        width: 428px;
        height: 90px;
        @include readonly {
            height : 50px;
        }
        border-bottom: 1px solid #e7e7e7;
        padding-top: 10px;

        .btn {
            margin-right: 5px;
        }

        .btn-new{
            margin-left: 10px;
        }
    }

    .search{
        @include position;
        background: #f5f5f5;
        border-top: 1px solid #e7e7e7;
        margin-top: 10px;
        @include readonly {
            margin-top: 0px;
        }

        i.icon-search{
            @include position(absolute, 15px 0 0 14px);
        }

        input::-ms-clear {
            display: none;
        }

        input{
            border-color: #CCC;
            background: #F5F5F5;
            font-size: 12px;
            line-height: 22px;
            padding-left: 44px;
            padding-right: 25px;
            margin-bottom: 0;
            width: 100%;
            height: 50px;
            box-shadow: none;
            border: 0;
            @include box-sizing(border-box);
            @include transition(background-color, 0.4s);
        }

        span.icon-clear{
            @include position(absolute, 12px 5px 0 0);
            padding: 5px;
            cursor: pointer;
            @extend .icon-close;
            &:hover {
                @extend .icon-close-h;
            }
            &:active {
                @extend .icon-close-p;
            }
        }

        input:focus{
            border-color:#CCC;
            box-shadow:none;
            background-color: #FFF;
        }

    }

    .left{
        float: left;
        width: 428px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        border-right: 1px solid #E7E7E7;

        @include readonly {
            .module-title{
                font-size: 16px;
                padding-left: 11px;
                padding-top: 15px;
                padding-bottom: 5px;
                height: 21px;
            }
        }

        .wd-loading{
            left : 210px;
        }
    }

    .right{
        float: left;

        .wd-loading{
            left: 65%;
        }

        .progress{
            width: 300px;
        }
    }

    .user-help a{
        font-size: 12px;
    }

    .search-word {
        font-weight: bold;
        background-color: #fffabb;
    }

	@import "item";
	@import "edit";
}
