.wdm-actions {
    @include display-flex;
    @include align-content(center);
    @include align-items(center);

    .btn:first-of-type {
        margin-left: 10px;
    }
    .btn {
        font-size: 12px;
        margin-right: 5px;
    }
}

.wdm-title {
    font-size: 16px;
    margin-left: 10px;
}

.wdm-search {
    .wdms-container {
        position: relative;
        input {
            @include box-sizing(border-box);
            width: 100%;
            font-size: 12px;
            height: 40px;
            line-height: 22px;
            padding-left: 44px;
            padding-right: 25px;
            margin: 0;
            border: 0;
            @include box-shadow(none);
            background: #f5f5f5;
            @include transition(background-color, 0.4s);

            &:focus {
                background: #fff;
            }
            &::-ms-clear {
                display: none;
            }
        }

        i {
            @include position(absolute, (40px - $global-line-height)/2 0 0 14px);
        }

        .clear {
            @include position(absolute, 7px 5px 0 0);
            padding: 5px;
            cursor: pointer;
            @extend .icon-close;
            &:hover {
                @extend .icon-close-h;
            }
            &:active {
                @extend .icon-close-p;
            }
        }
    }
}
