.bg-green{
    background-color: $standard-green;  
}
.bg-red{
    background-color: $standard-red;
}
.bg-blue{
    background-color: $standard-blue;
}
.bg-pink{
    background-color: $standard-pink;
}
.bg-orange{
    background-color: $standard-orange;
}
.bg-wheat{
    background-color: $standard-wheat;
}
.bg-olive-green{
    background-color: $standard-olive-green;
}
.bg-blue-green{
    background-color: $standard-blue-green;
}
.bg-light-green{
    background-color: $standard-light-green;
}
.bg-white{
    background-color: #fff;
}