.wdm-conversations {
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: -1px;
    @include user-select(none);
    cursor: default;
}

.wdmc-row {
    @include display-flex;
    @include align-content(center);
    @include align-items(center);
    @include box-sizing(border-box);
    width: 100%;
    height: 64px;
    border: 1px solid $wdm-border-color;
    border-right: 0;
    margin-bottom: -1px;
    @include transition(background-color $global-transition-duration / 4,
                        border-color $global-transition-duration / 4,
                        opacity $global-transition-duration);

    &.ui-animate {
        opacity: 0;
    }

    .badge {
        display: inline-block;
        vertical-align: top;
        padding: 0 6px;
        line-height: 16px;
        margin: 2px 0;
        border-radius: 4px;
        background: #6db800;
        font-size: 11px;
        @include box-shadow(inset 0 1px 1px rgba(#000, 0.1));
        color: #fff;
        @include text-shadow(0 1px rgba(#000, 0.1));
    }

    &:hover, &.selected {
        background: #f5f5f5;
    }
    &.highlight {
        $highlight-bg-color: #444;
        background: $highlight-bg-color;
        border-color: $highlight-bg-color;
        .wdmcr-c * {
            color: #fff;
        }
        .wdmcr-icon-alert {
            @extend .icon-failed-w;
        }
        .wdmcr-icon-running {
            @extend .icon-sending-w;
        }
    }
}
.wdmc-ph {
    text-align: center;
    margin: 15px 0;
}

.wdmc-blank {
    @extend .wdmc-row;
    @include justify-content(center);
}

.wdmcr-a {
    width: 43px;
    height: 100%;
    margin: 0;

    @include readonly {
        display: none;
    }
}

.wdmcr-b {
    $avatar-width: icon-width("profile48");
    width: $avatar-width;
    height: $avatar-width;
    @include use-sprite("profile48");
    cursor: pointer;

    &.multiple {
        @include use-sprite("group48");
        cursor: default;
    }

    @include readonly {
        margin-left: 10px;
    }

    img {
        width: $avatar-width;
        height: $avatar-width;
        display: block;
    }

    .photo-color {
        text-transform: uppercase;
        font-size: 24px;
        line-height: $avatar-width;
        text-align: center;
        width: 100%;
        height: 100%;
        font-weight: 300;
        color: #FFF;

        .half-photos {
            width: 23px;
            height: 100%;
            float: left;
        }

        .quarter-photos {
            width: 23px;
            height: 23px;
            font-size: 14px;
            line-height: 23px;
            float: left;
        }

        .mr2 {
            margin-right: 2px;
        }

        .mb2 {
            margin-bottom: 2px;
        }
    }

}

.wdmcr-c {
    @include flex(1);
    margin: 0 9px;
    & > * {
        height: $global-line-height;
        overflow: hidden;
        word-break: break-all;
    }
}
.wdmcr-c-a {
    font-size: 16px;
    color: $wdm-main-text-color;
}
.wdmcr-c-b {
    font-size: 12px;
    color: $wdm-sub-text-color;
}
.wdmcr-c-b-a {
    padding: 0 7px;
    border-radius: 10px;
    background: #c7c7c7;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    line-height: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: top;
    margin-top: 3px;
}
.wdmcr-d {
    color: $wdm-sub-text-color;
    margin-right: 16px;
    text-align: right;
    @include nowrap;
    min-width: 1px;

    .status > * {
        margin-left: 5px;
    }
}

.wdmcr-icon-alert {
    @extend .icon-failed;
}
.wdmcr-icon-running {
    @extend .icon-sending;

}