.devices-tpl {
    position: fixed;
    top: 0px;
    left: 0px;
    @include ui-layer-top;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    overflow-y:auto;

    h1 {
        font-weight: normal;
        font-size: 35px;
    }

    p {
        color: #999;
        font-size: 15px;
    }

    .select-device {
        margin: 110px auto 0px auto;
        width: 750px;
        .list {
            margin-top: 30px;
        }

        .devices-item {
            float: left;
            background-color: #ededed;
            width: 300px;
            cursor: pointer;
            margin-right: 35px;
            margin-bottom: 15px;
            padding: 25px 20px;
            border-radius: 5px;
            @include display-flex;
            @include transition(all 0.4s);

            &.add-new-phone-button {
                white-space: nowrap;
                text-align: center;
                display: inline;
                p {
                    display: inline;
                    margin-left: 3px;
                }
                .icon-add-white {
                    display: none;
                }
            }

            .phone {
                white-space: nowrap;
                display: inline;
                @include flex(1 0 40%);
                overflow: hidden;
                text-overflow: ellipsis;
                padding-top: 3px;
                .phone-name {
                    margin-left: 8px;
                    font-size: 18px;
                    color: #000;
                    display: inline;
                    overflow: hidden;
                }
                .icon-phone-white {
                    display: none;
                }
            }

            .wifi {
                white-space: nowrap;
                @include flex(1 0 50%);
                display: inline;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
                padding-top: 3px;
                .ssid {
                    text-overflow: ellipsis;
                    display: inline;
                    font-size: 12px;
                }
                .icon-wifi-white {
                    display: none;
                }
            }

            .phone-loading {
                width: 0px;
                height: 0px;
                display: inline;
                position: static;
                margin-top: 3px;
                margin-left: -8px;
                padding-left: 25px;
                position: static;
                div {
                    width: 10px;
                    height: 10px;
                }
                @include transform(scale(0.4));
            }

            &:hover, &.selected-device {
                background-color: $standard-green;
                .phone {
                    .phone-name {
                        color: #fff;
                    }
                    .icon-phone-white {
                        display: inline-block;
                    }
                    .icon-phone-dark {
                        display: none;
                    }
                }
                .wifi {
                    .ssid {
                        color: #fff;
                    }
                    .icon-wifi-white {
                        display: inline-block;
                    }
                    .icon-wifi {
                        display: none;
                    }
                }

                &.add-new-phone-button {
                    .icon-add-white {
                        display: inline-block;
                    }
                    .icon-add-dark {
                        display: none;
                    }
                    p {
                        color: #fff;
                    }
                }
            }
        }

        .add-new-phone-tip {
            background-color: #ededed;
            height: 170px;
            width: 315px;
            float: left;
            border-radius: 5px;
            padding: 20px 0px 0px 26px;
            p {
                line-height: 20px;
                color: #000;
                height: 20px;
                font-size: 12px;
            }
            .account {
                &:first-letter {
                    text-transform: uppercase;
                }
                font-weight: 800;
                font-size: 13px;
            }
            .icon-googleplay {
                margin: 0px 0px 10px 14px;
            }
        }

    }

    .no-device{
        width: 700px;
        margin:110px auto 0px auto;
        p{
            color: #999;
        }
        div.step{
            dl{
                width: auth-sprite-width("step1");
                height: 300px;
                float: left;
            }
            dd{
                color: #999;
                margin-left: 0px;
                font-size: 12px;
                margin-top: 6px;
            }
            dl.step1{
                dt{
                    @include auth-sprite("step1");
                    width: auth-sprite-width("step1");
                    height: auth-sprite-height("step1");
                    margin: 0 auto;
                }
            }
            dl.step2{
                margin-left: 35px;
                dt{
                    @include auth-sprite("step2");
                    width: auth-sprite-width("step2");
                    height: auth-sprite-height("step2");
                    margin: 0 auto;
                }
            }
            dl.step3{
                margin-left: 35px;
                dt{
                    @include auth-sprite("step3");
                    width: auth-sprite-width("step3");
                    height: auth-sprite-height("step3");
                    margin: 0 auto;
                }
            }
            p{
                float: left;
                font-size: 12px;
            }
            span{
                font-weight: bold;
                color: #000;
                background-color: #fff;
            }
        }
    }
}

@import "auth/*.png";
.change-devices-pop{
    width: 770px;
    margin-left: -385px;
    div.modal-footer{
        display: none;
    }
    div.modal-body{
        height: 400px;
        overflow: hidden;
    }
    h1{
        font-weight: normal;
        margin-top: 33px;
        font-size: 35px;
        line-height: 22px;
        color:#000;
    }
    p{
        color: #999;
        font-size: 15px;
    }
    div.content{
        background-color: #fff;
        padding-left: 30px;
        button{
            position: absolute;
            bottom: 25px;
            left: 310px;
            width: 150px;
            height: 36px;
        }

    }
    div.step{
        dl{
            width: auth-sprite-width("step1");
            float: left;
            margin-bottom: 0px;
        }
        dd{
            margin-left: 0px;
            font-size: 12px;
            margin-top: 6px;
        }
        dl.step1{
            dt{
                @include auth-sprite("step1");
                width: auth-sprite-width("step1");
                height: auth-sprite-height("step1");
                margin: 0 auto;
            }
        }
        dl.step2{
            margin-left: 35px;
            dt{
                @include auth-sprite("step2");
                width: auth-sprite-width("step2");
                height: auth-sprite-height("step2");
                margin: 0 auto;
            }
        }
        dl.step3{
            margin-left: 35px;
            dt{
                @include auth-sprite("step3");
                width: auth-sprite-width("step3");
                height: auth-sprite-height("step3");
                margin: 0 auto;
            }
        }
        p{
            float: left;
        }
        span{
            font-weight: bold;
            font-style: italic;
            color: #000;
            background-color: #fff;
        }
    }
}
