.devices-tpl{
    position: fixed;
    top: 0px;
    left: 0px;
    @include ui-layer-top;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    overflow-y:auto;

    h1{
        font-weight: normal;
        font-size: 35px;
    }

    p{
        color: #999;
        font-size: 15px;
    }

    .select-device{
        margin:110px auto 0px auto;
        width: 700px;
        div.list{
            div{
                cursor: pointer;
                width: 200px;
                height: 190px;
                background-color: #e6e6e6;
                float: left;
                margin-right: 25px;
                margin-bottom: 20px;
                border-radius: 5px;
                text-align: center;
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }

                p{
                    width: 200px;
                    float: none;
                    overflow: hidden;
                    font-size: 16px;
                    height: 20px;
                    line-height: 20px;
                    color: #000;
                    text-overflow: ellipsis;
                    display: inline-block;
                    margin: 70px 0 0 0;
                }

                .phone-name{
                    text-transform: uppercase;
                }

                span.wifi{
                    width: 200px;
                    line-height: 22px;
                    display: inline-block;
                    margin-top: 10px;
                    p{
                        margin: 0 0 0 5px;
                        width: auto;
                        color: #999;
                        font-size: 12px;
                        text-overflow: ellipsis;
                    }
                }

            }

            div.phone-loading{
                width: auto;
                height: auto;
                display: inline-block;
                position: static;
                float: none;
                margin-left: 6px;
                margin-top: 10px;
                div{
                    width: 10px;
                    height: 10px;
                }
                @include transform(scale(0.4));
            }

            p{
                width: 700px;
                float: left;
                margin-bottom: 200px;
            }
            margin-top: 30px;
        }
    }

    .no-device{
        width: 700px;
        margin:110px auto 0px auto;
        p{
            color: #999;
        }
        div.step{
            dl{
                width: auth-sprite-width("step1");
                height: 300px;
                float: left;
            }
            dd{
                color: #999;
                margin-left: 0px;
                font-size: 12px;
                margin-top: 6px;
            }
            dl.step1{
                dt{
                    @include auth-sprite("step1");
                    width: auth-sprite-width("step1");
                    height: auth-sprite-height("step1");
                    margin: 0 auto;
                }
            }
            dl.step2{
                margin-left: 35px;
                dt{
                    @include auth-sprite("step2");
                    width: auth-sprite-width("step2");
                    height: auth-sprite-height("step2");
                    margin: 0 auto;
                }
            }
            dl.step3{
                margin-left: 35px;
                dt{
                    @include auth-sprite("step3");
                    width: auth-sprite-width("step3");
                    height: auth-sprite-height("step3");
                    margin: 0 auto;
                }
            }
            p{
                float: left;
                font-size: 12px;
            }
            span{
                font-weight: bold;
                color: #000;
                background-color: #fff;
            }
        }
    }
}

@import "auth/*.png";
.change-devices-pop{
    width: 770px;
    margin-left: -385px;
    div.modal-footer{
        display: none;
    }
    div.modal-body{
        height: 400px;
        overflow: hidden;
    }
    h1{
        font-weight: normal;
        margin-top: 33px;
        font-size: 35px;
        line-height: 22px;
        color:#000;
    }
    p{
        color: #999;
        font-size: 15px;
    }
    div.content{
        background-color: #fff;
        padding-left: 30px;
        button{
            position: absolute;
            bottom: 25px;
            left: 310px;
            width: 150px;
            height: 36px;
        }

    }
    div.step{
        dl{
            width: auth-sprite-width("step1");
            float: left;
            margin-bottom: 0px;
        }
        dd{
            margin-left: 0px;
            font-size: 12px;
            margin-top: 6px;
        }
        dl.step1{
            dt{
                @include auth-sprite("step1");
                width: auth-sprite-width("step1");
                height: auth-sprite-height("step1");
                margin: 0 auto;
            }
        }
        dl.step2{
            margin-left: 35px;
            dt{
                @include auth-sprite("step2");
                width: auth-sprite-width("step2");
                height: auth-sprite-height("step2");
                margin: 0 auto;
            }
        }
        dl.step3{
            margin-left: 35px;
            dt{
                @include auth-sprite("step3");
                width: auth-sprite-width("step3");
                height: auth-sprite-height("step3");
                margin: 0 auto;
            }
        }
        p{
            float: left;
        }
        span{
            font-weight: bold;
            font-style: italic;
            color: #000;
            background-color: #fff;
        }
    }
}
