.wandou-signin-wrapper{
    @include position(fixed, 0px 0px 0px 0px);
    @include ui-layer-top;
    background: #ffffff;
    overflow-y: auto;
}

.wandou-signin{
    width: 960px;
    margin: 0px auto;
    .header{
        height: 40px;
        .logo{
            margin-top: 34px;
            height: 40px;
        }
    }

    .content{
        height: 580px;
        position: absolute;
        top: 50%;
        margin-top: -280px;
        .left{
            .introduce{
                $filename: "isolate/introduce.png";
                @include background-retina("isolate/introduce.png", "isolate/introduce-2x.png");
                width: image-width($filename);
                height: image-height($filename);
            }
            float: left;
        }
        .right{
            width: 408px;
            float: left;
            margin-top: 160px;
            .title{
                font-size: 35px;
                font-weight: 500;
                height: 40px;
                line-height: 40px;
                margin: 0px 0px 18px 0px;
            }
            .des{
                color: #999;
                font-size: 13px;
                margin-bottom: 40px;
            }

            .wandou-signin-btn{
                color: #ffffff;
                width: 110px;
                height: 30px;
                display: block;
                line-height: 30px;
                text-align: center;
                font-size: 15px;
                font-weight: 300;
                text-decoration: none;
            }

            .no-support{
                background-color: #eee;
                padding: 18px 20px 20px 20px;
                font-size: 12px;
            }
        }
    }

    .footer{
        border-top: 1px solid #eee;
        text-align: center;
        color: #999;
        display: block;
        width: 960px;
        float: left;
        font-size: 12px;
        padding-top: 30px;
        position: absolute;
        bottom: 20px;
        a{
            color: #999;
        }
        p{
            margin: 0px;
        }
    }

    .loading{
        background-color: #fff;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
}
