<div class="navigator">
    <div class="navigator-inner">
        <div class="brand"><i class="icon-logo64"></i></div>
        <ul class="nav nav-modules">
            <li ng-class="{ active: currentModule == 'photos' }">
                <a href="#/photos"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_PHOTOS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:photos')"><i class="icon-img"></i></a>
            </li>
            <li ng-class="{ active: currentModule == 'messages', notification: messageNotification }">
                <a href="#/messages"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_MESSAGES_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:sms')"><i class="icon-sms"></i></a>
            </li>
            <li ng-class="{ active: currentModule == 'contacts' }">
                <a href="#/contacts"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_CONTACTS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:contacts')"><i class="icon-contact"></i></a>
            </li>
            <li ng-class="{ active: currentModule == 'applications' }">
                <a href="#/applications"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_APPS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:applications')"><i class="icon-app"></i></a>
            </li>
        </ul>
        <ul class="nav nav-settings">
            <li wd-menu>
                <a href="" wd-menu-trigger ng-click="open()">
                    <i class="icon-phoneswitch"></i>
                </a>
                <div wd-menu-popover placement="right" loading="isLoadDevices">
                    <div ng-repeat="item in devicesList" wd-menu-item ng-hide="isLoadDevices" ng-click="changeDevice(item)">
                        <i class="icon-checklight" ng-class="{'selected':item.selected,'unselected':!item.selected}"></i>&nbsp;&nbsp;{{item.model}}</div>
                    <div wd-menu-item ng-hide="isLoadDevices" ng-click="clickAddNewPhone();">+&nbsp;New phone</div>
                </div>
            </li>
            <li wd-menu>
                <a href="" class="signout"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_SETTING_TIP}}"
                    data-options="{placement: 'right'}"
                    wd-menu-trigger><i class="icon-setting"></i></a>
                <div class="menu"
                    wd-menu-popover
                    placement="right">
                    <div wd-menu-item>
                        <a target="_blank"
                            href="http://snappea.wufoo.com/forms/snappea-feedback-survey/">
                            <i class="icon-feedback"></i>&nbsp;&nbsp;{{$root.DICT.app.NAVBAR_FEEDBACK_TIP}}
                        </a>
                    </div>
                    <div wd-menu-item>
                        <a target="_blank"
                            href="http://snappea.zendesk.com/forums/21871852-Web-version">
                            <i class="icon-help"></i>&nbsp;&nbsp;{{$root.DICT.app.NAVBAR_HELP_TIP}}
                        </a>
                    </div>
                    <div wd-menu-item class="signout"
                        ng-click="signout();$root.GA('navbar:signout');">
                        <i class="icon-signout"></i>&nbsp;&nbsp;{{$root.DICT.app.NAVBAR_SIGNOUT_TIP}}
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- change devices -->
    <div class="change-devices-pop" ng-show="isChangeDevicesPopShow" ng-click="closeChangeDevicesPop();">
        <div class="content" ng-click="$event.stopPropagation();">
            <h1>Connect a new phone.</h1>
            <p>Just 3 steps, and you will find your phone here.</p>
            <div class="step">
                <dl class="step1">
                    <dt></dt>
                    <dd>1.Install SnapPea from <a href="https://play.google.com/store/apps/details?id=com.snappea">Google play</a>.</dd>
                </dl>
                <dl class="step2">
                    <dt></dt>
                    <dd>2.Open SnapPea on your phone.</dd>
                </dl>
                <dl class="step3">
                    <dt></dt>
                    <dd>3.Sign in with your google account.</dd>
                </dl>
            </div>
            <span class="closePop" ng-click="closeChangeDevicesPop();">&times;</span>
        </div>
    </div>
    <!-- change devices end -->

</div>
