<div class="navigator">
    <div class="navigator-inner">
        <div class="brand">
            <i class="icon-logo64"></i>
        </div>
        <div class="active-module-bg"></div>
        <ul class="nav nav-modules">
            <li wd-nav-item="photos">
                <a href="#/photos"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_PHOTOS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:photos')"><i class="icon-img"></i></a>
            </li>
            <li ng-class="{notification: messageNotification }" wd-nav-item="messages">
                <a href="#/messages"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_MESSAGES_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:sms');requestDesktopNotificationPermission();"><i class="icon-sms"></i></a>
            </li>
            <li wd-nav-item="contacts">
                <a href="#/contacts"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_CONTACTS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:contacts')"><i class="icon-contact"></i></a>
            </li>
            <li wd-nav-item="applications">
                <a href="#/applications"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_APPS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:applications')"><i class="icon-app"></i></a>
            </li>
        </ul>
        <ul class="nav nav-settings">
            <li ng-show="!$root.READ_ONLY_FLAG">
                <a href=""
                    bs-tooltip="{{$root.DICT.app.NAVBAR_SELECT_DEVICES_TIP}}"
                    ng-click="controlSidebar('devices')" data-options="{placement: 'right'}">
                    <i class="icon-phoneswitch"></i>
                </a>
            </li>
            <li>
                <a href=""
                    bs-tooltip="{{$root.DICT.app.NAVBAR_SETTING_TIP}}"
                    data-options="{placement: 'right'}" ng-click="controlSidebar('settings')"><i class="icon-setting"></i></a>
            </li>
        </ul>
    </div>
</div>
