<div>
    <div class="sidebar-inner">
        <div class="devices-container" ng-class="{'devices-animate': devicesAnimate, 'current-layer': currentDeviceLayer, 'devices-default': devicesDefault, 'devices-hide': devicesHide}">
            <h2 class="device-select-title">{{$root.DICT.app.SELECT_DEVICES_TIP}}</h2>
            <div class="device-list-container">
                <ul class="device-list" ng-hide="isLoadingDevices">
                    <li ng-repeat="item in deviceList" ng-click="changeDevice(item)" ng-class="{'selected':item.selected}">
                        <i class="icon-mark" ng-show="item.selected"></i>
                        <a href="">{{item.model}}</a>
                    </li>
                </ul>
                <div class="devices-loading-container" ng-show="isLoadingDevices">
                    <div class="wd-loading wd-loading-local devices-loading" data-visible="isLoadingDevices"></div>
                </div>
            </div>
            <a href="" ng-click="addNewPhone()" class="connect-new-phone {{isLoadingDevices ? 'disabled-connect-new-phone' : ''}}">
                {{$root.DICT.app.CONNECT_NEW_PHONE_TIP}}
            </a>
        </div>
        <div class="settings-container" ng-class="{'settings-animate': settingsAnimate, 'current-layer': currentSettingsLayer, 'settings-default': settingsDefault, 'settings-hide': settingsHide, 'settings-hide-immediate': settingsHideImmediate}">
            <div class="content-wrapper">
                <div class="profile-info">
                    <img class="profile-img" ng-src="{{profileInfo.image.url}}"/>
                    <div>
                        <span class="display-name">{{profileInfo.displayName}}</span>
                        <span class="email">{{account}}</span>
                    </div>
                </div>
            
                <div class="language" ng-if="!$root.READ_ONLY_FLAG">
                    <h3 class="language-title title">{{$root.DICT.app.LANGUAGE_TIP}}</h3>
                    <ul class="unstyled language-list">
                        <li ng-class="{'current': selectedLanguage('en')}" ng-click="$root.applyLanguage('en')">
                            <i class="icon-mark" ng-show="selectedLanguage('en')"></i>
                            English
                        </li>
                        <li ng-class="{'current': selectedLanguage('de')}" ng-click="$root.applyLanguage('de')">
                            <i class="icon-mark" ng-show="selectedLanguage('de')"></i>
                            Deutsch
                        </li>
                        <li ng-class="{'current': selectedLanguage('pt-br')}" ng-click="$root.applyLanguage('pt-br')">
                            <i class="icon-mark" ng-show="selectedLanguage('pt-br')"></i>
                            Português (Brasil)
                        </li>
                        <li ng-class="{'current': selectedLanguage('zh-tw')}" ng-click="$root.applyLanguage('zh-tw')">
                            <i class="icon-mark" ng-show="selectedLanguage('zh-tw')"></i>
                            中文 (正體)
                        </li>
                        <li ng-class="{'current': selectedLanguage('es')}" ng-click="$root.applyLanguage('es')">
                            <i class="icon-mark" ng-show="selectedLanguage('es')"></i>
                            Español
                        </li>
                        <li ng-class="{'current': selectedLanguage('th')}" ng-click="$root.applyLanguage('th')">
                            <i class="icon-mark" ng-show="selectedLanguage('th')"></i>
                            ภาษาไทย
                        </li>
                    </ul>
                </div>

                <div class="facebook"  ng-if="!$root.READ_ONLY_FLAG">
                    <h3 class="facebook-title title">{{$root.DICT.app.FACEBOOK_TITLE}}</h3>
                    <div class="connect-facebook-wrapper" ng-show="!isConnectedFacebook()">
                        <p class="facebook-tip">{{$root.DICT.app.FACEBOOK_DISCONNECT_TIP}}</p>
                        <a href="" class="connect-facebook-btn" ng-click="handleFacebookConnect()"><i class="icon-facebook-btn"></i></a>
                    </div>
                    <div class="disconnect-facebook-wrapper" ng-show="isConnectedFacebook()">
                        <p class="facebook-tip">{{$root.DICT.app.FACEBOOK_CONNECT_TIP}}</p>
                        <a class="disconnect-facebook-btn" ng-click="handleFacebookConnect()">
                            {{$root.DICT.app.DISCONNECT_FACEBOOK}}
                        </a>
                    </div>
                </div>
                <div class="others">
                    <a ng-if="$root.READ_ONLY_FLAG" target="_blank" href="http://help.wandoujia.com/entries/22604406">
                        {{$root.DICT.app.HELP}}
                    </a>
                    <a ng-if="!$root.READ_ONLY_FLAG" target="_blank" class="help" href="http://snappea.zendesk.com/forums/21871852-Web-version">
                        {{$root.DICT.app.HELP}}
                    </a>
                    <a ng-if="!$root.READ_ONLY_FLAG" target="_blank"
                        href="http://snappea.wufoo.com/forms/snappea-feedback-survey/">
                        {{$root.DICT.app.FEEDBACK}}
                    </a>
                    <a ng-if="$root.READ_ONLY_FLAG" target="_blank"
                        href="http://help.wandoujia.com/anonymous_requests/new?guid=null&clientVersion=web-wandoujia">
                        {{$root.DICT.app.FEEDBACK}}
                    </a>
                    <a ng-if="!$root.READ_ONLY_FLAG" target="_blank" 
                        href="http://www.google.com/url?q=http%3A%2F%2Fcrowdin.net%2Fproject%2Fsnappea-android&sa=D&sntz=1&usg=AFQjCNErUDlsfoTT5hjo-3m3gkUUzdvMwA">
                        {{$root.DICT.app.TRANSLATE}}
                    </a>
                </div>
            </div>
            <button class="btn btn-danger signout" ng-click="signout()">
                <span>{{$root.DICT.app.SINGOUT}}</span>
            </button>
        </div>
        <a href="" ng-click="closeSidebar()" class="close-sidebar">&times;</a>
        <!-- connect new phone pop start -->
        <!-- data-ok 是事件 -->
        <div class="change-devices-pop bs-modal" data-toggle="isShowChangeDevicesPop" data-ok="" data-cancel="isShowChangeDevicesPop=false;" data-header="">
            <div class="content">
                <h1>{{$root.DICT.app.CHANGE_DEVICES_POP.h1}}</h1>
                <p>{{$root.DICT.app.CHANGE_DEVICES_POP.h2}}</p>
                <div class="step">
                    <dl class="step1">
                        <dt></dt>
                        <dd ng-bind-html-unsafe="$root.DICT.app.CHANGE_DEVICES_POP.step1"></dd>
                    </dl>
                    <dl class="step2">
                        <dt></dt>
                        <dd>{{$root.DICT.app.CHANGE_DEVICES_POP.step2}}</dd>
                    </dl>
                    <dl class="step3">
                        <dt></dt>
                        <dd>{{$root.DICT.app.CHANGE_DEVICES_POP.step3.replace('$$', account || $root.DICT.portal.SHOW_ACCOUNT_NAME_DEFAULT)}}</dd>
                    </dl>
                </div>
                <button class="btn btn-primary" bs-modal-cancel>{{$root.DICT.app.CHANGE_DEVICES_POP.button}}</button>
            </div>
        </div>
        <!-- connect new phone pop end -->
    </div>
</div>