<div class="wdm-contact-card">
    <div class="wdm-contact-card-avatar">
        <img ng-src="{{contactAvatar | wrapRemoteConnectionURL}}" ng-if="contactAvatar"/>
    </div>
    <div class="wdm-contact-card-name">{{ contactExisted ? contactName : contactAddress }}</div>
    <div class="wdm-contact-card-info" ng-if="contactExisted">{{ contactAddress }}</div>
    <div class="wdm-contact-card-action"
        ng-if="contactExisted"
        ng-click="viewContact()">{{$root.DICT.messages.VIEW_CONTACT}}</div>
    <div class="wdm-contact-card-action"
        ng-if="!contactExisted"
        ng-click="addContact()">{{$root.DICT.messages.ADD_CONTACT}}</div>
</div>
