.wdj-applications{
    p{
        display: inline-block;
        margin: 0px;
        font-weight: $global-font-weight-normal;
    }
	.header{
		@include position(absolute, 0 0 0 0);
		height: 40px;
		width: 100%;
		padding-left: 10px;
		padding-top: 10px;
		background: rgba(255, 255, 255, 0.9);

        .btn{
            margin-right: 5px;
        }
    }
    ul{
        list-style: none;
        margin: 0px;
    }

	.apps-list{
        height: 100%;
        width: 100%;
        @include box-sizing(border-box);
		@include position(absolute, 0 0 0 0);
		overflow-y:auto;
		padding-top: 50px;
        @include unselected-word;
        @include readonly {
            padding-top: 10px;
        }

        dl{
            float: left;
            background-color: #f5f5f5;
            margin:0px 0px 10px 10px;
            text-align: center;
            position: relative;
            cursor: pointer;

            .content{
                width: 100%;
                position: absolute;
                top: 50%;
                margin-top: -50px;
            }

            img, .icon-app-default{
                margin-top: 0;
                margin-bottom: 8px;
                width: 72px;
                height: 72px;
            }

            .title{
                margin-left: 0px;
                height: 20px;
                line-height: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 16px;
            }

            .icon-close {
                cursor: pointer;
                @include position(absolute, 2px 4px 0 0);
            }

            .wd-block-actions {
                background-image: none;
            }

            .app-upload-tip.show-upload-tip {
                opacity: 1;
            }

            .app-upload-tip {
                @include position(absolute, 0 0 0px 0px);
                background: rgba(255, 255, 255, 0.5);
                width: 100%;
                height: 100%;
                margin-left: 0;
                opacity: 0;
                @include transition(opacity $global-transition-duration);

                .icon-retry {
                    cursor: pointer;
                    @include position(absolute, 0 4px 0px 0);
                    @include button-effect;
                }

                p {
                    @include position(absolute, 0 0 0px 0px);
                    width: 100%;
                    height: 20px;
                    background: #a00;
                    text-align: left;

                    span {
                        margin-left: 10px;
                        color: #fff;
                    }
                }
            }
            .confirm{
                margin-left: 0px;
                position: absolute;
                bottom: 0px;
                background: #F38200;
                right: 0px;
                left: 0px;
                opacity: 0;
                cursor: default;
                @include transition(opacity $global-transition-duration);

                i.icon-phone{
                    @include position(absolute, 12px 0 0 4px);
                }

                i.icon-close-white {
                    cursor: pointer;
                    @include position(absolute, 2px 4px 0 0);
                    @include button-effect-light;
                }
                i.icon-retry{
                    cursor: pointer;
                    @include position(absolute, 20px 4px 0 0);
                    @include button-effect-light;
                }
                p{
                    margin-right: 0px;
                    margin-bottom: 0;
                    min-height: 40px;
                    vertical-align: middle;
                    line-height: 16px;
                    margin: 5px 0 0 28px;
                    display: block;
                    width: 122px;
                    text-align: left;
                    font-size: 12px;
                    color: #FFF;
                }
            }

            .done{
                margin-left: 0px;
                position: absolute;
                bottom: 0px;
                background: #77c03c;
                height: 45px;
                right: 0px;
                left: 0px;
                opacity: 0.9;

                i.icon-sel-white{
                    @include position(absolute, 12px 0 0 22px);
                }

                p{
                    margin-right: 0px;
                    margin-bottom: 0;
                    height: 35px;
                    vertical-align: middle;
                    line-height: 16px;
                    margin-top: 14px;
                    margin-left: 42px;
                    display: block;
                    width: 126px;
                    text-align: left;
                    font-size: 12px;
                    color: #FFF;
                }
            }

            &.confirm {
                .wd-block-select, .wd-block-actions {
                    display: none;
                }
            }
        }

        dl.new-list{

            dt{
                div.new-app-image{
                    display: inline-block;
                    margin-top: 39px;
                    width: 96px;
                    height: 96px;
                    @include use-sprite("appicon");
                }
            }

            cursor: default;

            span.close-btn{
                position: absolute;
                right: 5px;
                top: 0px;
                font-size: 20px;
                cursor: pointer;
            }

            dd.title{
                font-weight: $global-font-weight-normal;
                width: 120px;
                margin: -61px auto;
                font-size: 12px;
                white-space: nowrap;
                background: #000;
                color: white;
                border-radius: 14px;
                line-height: 24px;
                height: 24px;
                padding-left: 9px;
                padding-right: 9px;
                opacity: 0.5;
            }

            dd.progress{
                height: 9px;
                margin: 0;
                position: absolute;
                bottom: 0px;
                right: 0px;
                left: 0px;
                background: #555;
                display: block;

                span{
                    background-color: #6EB800;
                    height: 9px;
                    display: block;
                    width: 1%;
                }
            }

        }

    }

    .mask{
        opacity: 0;
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(9,9,9,0.9);
        @include ui-mask-top;
        text-align: center;
        @include transition(opacity $global-transition-duration);

        span.close-btn{
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 22px;
            color: #333;
            font-weight: $global-font-weight-bold;
            cursor: pointer;
            opacity: 0.65;
        }

        dl.info{
            font-weight: $global-font-weight-normal;
            display: none;
            width: 400px;
            background-color: #fff;
            border-radius: 6px;
            margin: 0 auto;
            position: absolute;
            top:100px;
            bottom: 100px;
            left: 50%;
            margin-left: -200px;
            overflow: hidden;

            div.detail-info{
                position: absolute;
                width: 400px;
                overflow-y: auto;
                overflow-x: hidden;
                font-size: 12px;
                top: 155px;
                bottom: 40px;

            }

            span.close-btn:hover{
                opacity: 1;
                @include transition(opacity $global-transition-duration);
            }

            hr{
                color: #e7e7e7;
                width: 362px;
                margin-top: 10px;
                margin: 18px auto 5px auto;
            }

            dt{
                img{
                    margin-top: 33px;
                    width: 72px;
                    height: 72px;
                }
                h2{
                    font-size: 16px;
                    font-weight: $global-font-weight-normal;
                    line-height: 14px;
                    margin: 8px 0px 0px 0px;
                }
            }
            dd{
                margin-left: -15px;
                line-height: 22px;
                p{
                    display: inline-block;
                    font-weight: $global-font-weight-normal;
                }
                p.title{
                    width: 25%;
                    text-align: right;
                    margin-bottom: 0px;
                    margin-right: 10px;
                    color: #999;
                }
                p.detail{
                    color: #555;
                    width: 50%;
                    text-align: left;
                    margin-bottom: 0px;
                }
                ul.detail{
                    vertical-align: top;
                    width: 50%;
                    display: inline-block;
                    margin-top: 4px;

                    li{
                        line-height: 16px;
                        color: #555;
                        text-align: left;
                        margin-bottom: 8px;

                        p{
                            word-wrap: break-word;
                            word-break: normal;
                            width: 236px;
                            white-space: normal;
                        }
                    }
                }
            }

            div.buttons{
                text-align: left;
                display: block;
                height: 34px;
                width: 400px;
                position: absolute;
                bottom: 0px;
                background-color: #f5f5f5;
                border-top: 1px solid #dcdcdc;
                color: #000;
                cursor: pointer;
                font-weight: $global-font-weight-normal;
                a{
                    text-decoration: none;
                }
                span{
                    display: inline-block;
                    margin: 0px;
                    font-size: 12px;
                    color: #000;
                }
                .icon-del{
                    margin-right: 4px;
                }
                .button-del{
                    text-align: center;
                    padding-top: 6px;
                    padding-left: 4px;
                    opacity: 0.75;
                    display: inline-block;
                    width: 200px;
                    height: 34px;
                    border-right: 1px solid #CCC;
                    @include button-effect-light;
                    &:hover{
                        border-right: 1px solid #DDD;
                    }
                    &:active{
                        border-right: 1px solid #CCC;
                    }
                }
                .button-download{
                    width: 190px;
                    height: 34px;
                    text-align: center;
                    padding-top: 6px;
                    opacity: 0.75;
                    display: inline-block;
                    @include button-effect-light;
                }
            }

        }

        /* unkonw tips */
        .unknowApkTips{
            display: none;
            background: #FFF;
            width: 694px;
            left: 50%;
            margin-left: -354px;
            position: absolute;
            border-radius: 5px;
            height: 280px;
            text-align: left;
            padding-left: 15px;

            h2{
                font-size: 16px;
                font-weight: $global-font-weight-bold;
                line-height: 16px;
                margin-bottom: 17px;
                margin-top: 15px;
            }

            ul{
                margin-top: 3px;
                li{
                    float: left;
                    width: 215px;
                    margin-right: 15px;
                    line-height: 20px;
                }
            }

            button{
                position: absolute;
                right: 15px;
                bottom: 8px;
            }

            div.unknowTips{
                height: 147px;
                width: 679px;
                display: block;
                background: image-url("isolate/unknown-tips.png") no-repeat 0 0;
            }

        }
        /* unkonw tips end */

    }

    .user-help a{
        font-size: 12px;
    }

}
