<div class="btn album-settings" 
    ng-if="!$root.READ_ONLY_FLAG"
    bs-tooltip="{{$root.DICT.photos.ALBUM_SETTINGS}}"
    data-options="{placement: 'bottom'}"
    ng-click="settingAlbums();$root.GA('photos:setting_album')">
    <i class="icon-album-settings"></i>
</div>

<div bs-modal toggle="isShowAlbumSettings" class="album-settings-modal" data-header="{{$root.DICT.photos.ALBUM_SETTINGS}}" cancel="hideAlbumSettings()" ok="updateAlbums()">
    {{$root.DICT.photos.ALBUM_SETTINGS_INFO}}
    <div class="wd-loading wd-loading-local in-footer" data-visible="visibleLoading"></div>
    <ul class="albums-container">
        <li ng-repeat="album in albumList" class="{{($index + 1) % 4 === 0 ? 'album-row-last-item' : ''}}">
            <div class="thumbnail-container">
                <img ng-if="album.thumbnail_path" ng-src="{{album.thumbnail_path}}" class="album-thumbnail">
                <label class="action-select checkbox inline"
                    ng-click="selectAlbum(album, selected)">
                    <input type="checkbox" ng-checked="album.visible" ng-model="selected">
                </label>
            </div>
            <span class="album-name">
                {{album.bucket_name}}
            </span>
            <span class="photo-count">
                {{album.photo_count}} {{album.photo_count >= 1 ? $root.DICT.photos.PHOTOS_TEXT : $root.DICT.photos.PHOTOS_TEXT}}
            </span>
        </li>
    </ul>
</div>