<div class="wd-block" ng-class="{'wd-block-selected': photo.selected, 'wd-block-selecting': selectedPhotos().length}">
    <div class="photo"></div>
    <div wd-circle-loading ng-if="photo.circleLoading"></div>
    <div class="wd-block-mask" ng-click="selectedPhotos().length ? select(photo, $event.shiftKey) : preview(photo);$root.GA('photos:photo:click')">
        <div class="photo-info" ng-if="$root.remoteConnection.wap && !$root.remoteConnection.photos.loadImages">
            <span>{{photo.date_added | date:'MMM dd, yyyy'}}</span>
            <span>{{photo.size | sizeFormat}} MB</span>
        </div>
    </div>
    <div wd-checkbox class="wd-block-select"
        ng-if="!$root.READ_ONLY_FLAG"
        ng-click="select(photo, $event.shiftKey);"
        bs-tooltip="{{checkboxTipText}}"
        ng-checked="photo.selected"></div>
    <div class="wd-block-actions">
        <div class="wd-block-actions-inner" wd-strip>
            <span class="action-delete"
                bs-tooltip="{{$root.DICT.photos.BLOCK_DELETE}}"
                ng-click="delete(photo);$root.GA('photos:photo:delete')"
                ><i class="icon-delete"></i></span>

            <span class="action-download"
                bs-tooltip="{{$root.DICT.photos.BLOCK_DOWNLOAD}}"
                ng-click="download(photo);$root.GA('photos:photo:download')"
                ><i class="icon-down"></i></span>

            <span class="action-share"
                ng-if="!$root.READ_ONLY_FLAG"
                bs-tooltip="{{$root.DICT.photos.BLOCK_SHARE_FB}}"
                ng-click="share(photo);$root.GA('photos:photo:show_share_modal')"
                ><i class="icon-facebook-light"></i></span>

            <span class="action-share"
                ng-if="$root.READ_ONLY_FLAG"
                bs-tooltip="{{$root.DICT.photos.BLOCK_SHARE}}"
                ng-click="shareToWeibo(photo);$root.GA('photos:photo:share')"
                ><i class="icon-share"></i></span>
        </div>
    </div>
    <div class="wdp-progress"></div>
</div>
