<div class="wdj-photos" ng-controller="wdpAlbumsController">
    <div class="wdp-timeline-container" wdp-gallery>
        <div class="wdp-showcases-container">
            <div class="wdp-showcase">
                <div class="wdp-block"
                    wdp-repeat="photo in photos"
                ></div>
            </div>
            <div style="text-align:center;">
                <div class="load-more"
                    ng-class="{'load-more-hide': allLoaded || !firstScreenLoaded}"
                    ng-click="fetch();$root.GA('photos:loadmore')"
                    ng-switch on="loaded">
                        <span ng-switch-when="true">{{$root.DICT.photos.BTN_LOAD}}</span>
                        <span ng-switch-when="false" class="wd-loading wd-loading-inline" data-visible="true"></span>
                </div>
            </div>
        </div>
        <div class="wdp-actionbar" ng-if="!$root.READ_ONLY_FLAG"></div>
        <div class="wd-loading" data-visible="!firstScreenLoaded"></div>
    </div>
    <div wdp-slides
        data-current="previewPhoto"
        data-photos="photos"
        data-on-delete="delete(photo)"
        data-on-download="download(photo)"
        data-on-share="$root.READ_ONLY_FLAG ? shareToWeibo(photo) : share(photo)"
        >
    </div>

    <div bs-modal toggle="isShowShareModal" data-header="{{$root.DICT.photos.BLOCK_SHARE_FB}}" class="wdp-share-modal" cancel="cancelShare();$root.GA('share:cancel_share_facebook')">
        <div class="facebook-user-name">
            <i class="icon-facebookblue"></i>
            {{facebookUserName}}
        </div>
        <div class="thumbnail-wrapper">
            <img ng-src="{{thumbnailSource}}" ng-style="thumbnailStyle" class="share-thumbnail">
        </div>
        <textarea ng-model="$parent.shareText" class="share-textarea" placeholder="Write something about this photo..." ng-readonly="textareaReadonly"></textarea>
        <div class="share-tip-wrapper">
            <div class="wd-loading wd-loading-inline share-loading in-footer" data-visible="visibleLoading"></div>
            <span class="share-success-tip share-tip" ng-show="isShowSuccessTip">{{$root.DICT.photos.SHARE_SUCCESS_TIP}}</span>
            <span class="share-faild-tip share-tip" ng-show="isShowFaildTip">
                {{$root.DICT.photos.SHARE_FAIL_TIP}} 
                <a href="" ng-click="uploadAndSharePhoto(true);$root.GA('share:retry_share_facebook')">{{$root.DICT.photos.SHARE_RETRY}}<a/>
            </span>
            <span class="share-faild-tip share-tip" ng-show="isShowExpiredTip">
                {{$root.DICT.photos.FB_CONNECTION_EXPIRED_TIP}}
                <a href="" ng-click="connectFacebook();$root.GA('share:facebook_expired_and_connect')">{{$root.DICT.photos.RECONNECT}}</a>
            </span>
            <span class="checking-facebook-tip" ng-show="isShowCheckingFBTip">{{$root.DICT.photos.CHECKING_FACEBOOK_TIP}}</span>
        </div>
        <div class="footer-button-wrapper" ng-show="isShowFooter">
            <a href="" class="btn" ng-click="cancelShare();$root.GA('share:cancel_share_facebook')">Cancel</a>
            <a href="" class="btn btn-primary" ng-click="uploadAndSharePhoto();$root.GA('share:facebook_share')" ng-disabled="shareBtnDisabled">Share</a>
        </div>
    </div>
    <div class="wd-blank" ui-if="!photos.length && firstScreenLoaded">
        <p>{{$root.DICT.photos.BLANK_TIP}}<p>
        <div class="btn btn-primary"
            ng-if="!$root.READ_ONLY_FLAG"
            wdp-uploader
            ng-click="$root.GA('photos:toolbar:add_photo')"
            ><i class="icon-add"></i> {{$root.DICT.photos.ACTIONBAR_ADD_PHOTOS}}</div>
        <div ng-if="$root.READ_ONLY_FLAG" class="user-help">
            <a href="http://help.wandoujia.com/entries/21895693"  target="_blank">{{$root.DICT.cloudDataSignIn.USER_HELP}} »</a>
        </div>        
    </div>
    <div class="btn album-settings" 
        ng-if="!$root.READ_ONLY_FLAG"
        bs-tooltip="{{$root.DICT.photos.ALBUM_SETTINGS}}"
        data-options="{placement: 'bottom'}"
        ng-click="settingAlbums();$root.GA('photos:setting_album')">
        <i class="icon-album-settings"></i>
    </div>
    <div bs-modal toggle="isShowAlbumSettings" class="album-settings-modal" data-header="{{$root.DICT.photos.ALBUM_SETTINGS}}" cancel="hideAlbumSettings()" ok="updateAlbums()">
        {{$root.DICT.photos.ALBUM_SETTINGS_INFO}}
        <div class="wd-loading wd-loading-local in-footer" data-visible="visibleAlbumLoading"></div>
        <ul class="albums-container">
            <li ng-repeat="album in albumList" class="{{($index + 1) % 4 === 0 ? 'album-row-last-item' : ''}}">
                <div class="thumbnail-container">
                    <img ng-if="album.thumbnail_path" ng-src="{{album.thumbnail_path}}" class="album-thumbnail">
                    <label class="action-select checkbox inline"
                        ng-click="selectAlbum(album, selected)">
                        <input type="checkbox" ng-checked="album.visible" ng-model="selected">
                    </label>
                </div>
                <span class="album-name">
                    {{album.bucket_name}}
                </span>
                <span class="photo-count">
                    {{album.photo_count}} {{album.photo_count >= 1 ? $root.DICT.photos.PHOTOS_TEXT : $root.DICT.photos.PHOTOS_TEXT}}
                </span>
            </li>
        </ul>
    </div>
    <div ui-if="!serverMatchRequirement" class="wd-upgrade-warning" data-text="{{$root.DICT.photos.UPGRADE_TIP}}"></div>
</div>
