<div class="wdj-photos" wd-scroll-detect bottom="autoFetch()">
        
    <div class="wdp-timeline-container" wdp-gallery>

        <!-- 拍照实时显示的介绍 -->
        <div class="photo-snap-intro" ng-class="{hide: addPhotoSnapIntroHideClass}" ng-if="showPhotoSnapIntro">
            <div class="content">
                <div class="left">
                    <h1>{{$root.DICT.photos.PHOTO_SNAP.H1}}</h1>
                    <h2 ng-bind-html="$root.DICT.photos.PHOTO_SNAP.H2.replace('$$$$', deviceName)"></h2>
                    <div class="btn btn-primary" ng-click="hidePhotoSnapIntro();">{{$root.DICT.photos.PHOTO_SNAP.BUTTON}}</div>
                </div>
                <div class="right">
                    <i class="icon-take-photo"></i>
                </div>
            </div>
        </div>
        <!-- 拍照实时显示的介绍 end -->

        <div class="wdp-showcases-container">
            <div class="wdp-showcase">
                <div class="wdp-block"
                    wdp-repeat="photo in photos"
                ></div>
            </div>
            <div style="text-align:center;">
                <div class="load-more"
                    ng-class="{'load-more-hide': allLoaded || !firstScreenLoaded}"
                    ng-click="fetch();$root.GA('photos:loadmore')"
                    ng-switch on="loaded">
                        <span ng-switch-when="true">{{$root.DICT.photos.BTN_LOAD}}</span>
                        <span ng-switch-when="false" class="wd-loading wd-loading-inline" data-visible="true"></span>
                </div>
            </div>
        </div>
        <div class="wdp-actionbar" ng-if="!$root.READ_ONLY_FLAG"></div>
        <div class="btn album-settings"
        ng-if="!$root.READ_ONLY_FLAG"
            bs-tooltip="{{$root.DICT.photos.ALBUM_SETTINGS}}"
            data-options="{placement: 'bottom'}"
            ng-click="settingAlbums();$root.GA('photos:setting_album')">
            <i class="icon-album-settings"></i>
        </div>
        <div class="wd-loading" data-visible="!firstScreenLoaded"></div>
    </div>
    <div wdp-slides
        data-current="previewPhoto"
        data-photos="photos"
        data-on-delete="delete(photo)"
        data-on-download="download(photo)"
        data-on-share="$root.READ_ONLY_FLAG ? shareToWeibo(photo) : share(photo)"
        >
    </div>

    <div bs-modal toggle="isShowShareModal" data-header="{{$root.DICT.photos.BLOCK_SHARE_FB}}" class="wdp-share-modal" cancel="cancelShare();$root.GA('share:cancel_share_facebook')">
        <div class="facebook-user-name">
            <i class="icon-facebook-blue"></i>
            {{facebookUserName}}
        </div>
        <div class="thumbnail-wrapper">
            <img ng-src="{{thumbnailSource}}" ng-style="thumbnailStyle" class="share-thumbnail">
        </div>
        <textarea ng-model="$parent.shareText" class="share-textarea" placeholder="Write something about this photo..." ng-readonly="textareaReadonly"></textarea>
        <div class="share-tip-wrapper">
            <div class="wd-loading wd-loading-inline share-loading in-footer" data-visible="visibleLoading"></div>
            <span class="share-success-tip share-tip" ng-show="isShowSuccessTip">{{$root.DICT.photos.SHARE_SUCCESS_TIP}}
                <a ng-href="https://www.facebook.com/photo.php?fbid={{photoId}}" target="_blank" class="view-facebook-photo">{{$root.DICT.photos.VIEW}}</a>
            </span>
            <span class="share-faild-tip share-tip" ng-show="isShowFaildTip">
                {{$root.DICT.photos.SHARE_FAIL_TIP}}
                <a href="" ng-click="uploadAndSharePhoto(true);$root.GA('share:retry_share_facebook')">{{$root.DICT.photos.SHARE_RETRY}}<a/>
            </span>
            <span class="share-faild-tip share-tip" ng-show="isShowExpiredTip">
                {{$root.DICT.photos.FB_CONNECTION_EXPIRED_TIP}}
                <a href="" ng-click="connectFacebook();$root.GA('share:facebook_expired_and_connect')">{{$root.DICT.photos.RECONNECT}}</a>
            </span>
            <span class="checking-facebook-tip" ng-show="isShowCheckingFBTip">{{$root.DICT.photos.CHECKING_FACEBOOK_TIP}}</span>
        </div>
        <div class="footer-button-wrapper" ng-show="isShowFooter">
            <button class="btn" ng-click="cancelShare();$root.GA('share:cancel_share_facebook')">Cancel</button> 
            <button class="btn btn-primary" ng-click="uploadAndSharePhoto();$root.GA('share:facebook_share')" ng-disabled="shareBtnDisabled">Share</button>
        </div>
    </div>

    <div class="wd-photo-blank" ng-if="!photos.length && firstScreenLoaded">
        <div class="content">
            <div class="left">
                <i class="icon-take-photo"></i>
            </div>
            <div class="right">
                <h1>{{$root.DICT.photos.PHOTO_SNAP.H1}}</h1>
                <h2 ng-bind-html="$root.DICT.photos.PHOTO_SNAP.H2.replace('$$$$', deviceName)"></h2>
            </div>
        </div>
        <div ng-if="$root.READ_ONLY_FLAG" class="user-help">
            <a href="http://help.wandoujia.com/entries/21895693"  target="_blank">{{$root.DICT.cloudDataSignIn.USER_HELP}} »</a>
        </div>
    </div>

    <div bs-modal toggle="isShowAlbumSettings" class="album-settings-modal" data-header="{{$root.DICT.photos.ALBUM_SETTINGS}}" cancel="hideAlbumSettings()" ok="updateAlbums()" data-button-ok-disabled="{{albumDisabledOkButton}}">
        {{$root.DICT.photos.ALBUM_SETTINGS_INFO}}
        <div class="wd-loading wd-loading-local in-footer" data-visible="visibleAlbumLoading"></div>
        <div class="albums-blank-tip" ng-if="albumList.length === 0">
            <p>{{$root.DICT.photos.ALBUM_BLANK_TIP}}</p>
        </div>
        <ul class="albums-container">
            <li ng-repeat="album in albumList">
                <div class="thumbnail-container" ng-click="selectAlbum(album, !album.visible)">
                    <img ng-if="album.thumbnail_path" ng-src="{{album.thumbnail_path}}" class="album-thumbnail">
                    <label class="action-select checkbox inline"
                        bs-tooltip="{{album.visible ? $root.DICT.photos.BLOCK_DESELECT : $root.DICT.photos.BLOCK_SELECT}}"
                        data-options="{container: false}">
                        <input type="checkbox" ng-checked="album.visible" ng-model="selected" >
                    </label>
                </div>
                <span class="album-name">
                    {{album.bucket_name}}
                </span>
                <span class="photo-count">
                    {{album.photo_count}} {{album.photo_count > 1 ? $root.DICT.photos.PHOTOS_TEXT : $root.DICT.photos.PHOTO_TEXT}}
                </span>
            </li>
        </ul>
    </div>
    <div ng-if="!serverMatchRequirement" class="wd-upgrade-warning" data-text="{{$root.DICT.photos.UPGRADE_TIP}}"></div>

    <div wd-drag-enter-area class="wd-drag-enter-area" data-title="{{$root.DICT.photos.DRAG_TITLE}}" data-tip="{{$root.DICT.photos.DRAG_TIP}}"></div>
</div>
